.section.teaser-columns-container {
  padding: 0;
}

.teaser-columns-container .teaser-columns-wrapper {
  max-width: 100%;
}

.row .teaser-column:not(.text-on-image-column) {
  order: 1;
  padding: 5rem 4rem;
}

.teaser-columns .row {
  display: flex;
  flex-direction: column;
}

.teaser-columns .row p {
  margin-top: 5px;
  font-size: 12px;
  line-height: 20px
}

.teaser-column:not(.text-on-image-column) h3 {
  margin: 20px 0 0;
  padding-block-start: 10px;
  border-block-start: 3px solid var(--c-primary-black);
  text-transform: uppercase;
  font: 14px var(--ff-body-bold);
}

.text-on-image-column {
  position: relative;
  order: 0;
}

.teaser-column.text-on-image-column img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 100/70;
  height: 100%;
  max-height: 400px;
}

.teaser-column.text-on-image-column h3 {
  font: 21px var(--ff-body-bold);
  color: var(--c-primary-white);
  position: absolute;
  bottom: 0;
  line-height: 1em;
  padding: 3rem 35% 4rem 4rem;
}

@media (min-width: 768px) {
  .teaser-column:not(.text-on-image-column) h3 { 
    font-size: 18px;
  }

  .teaser-column.text-on-image-column h3 {
    font-size: 27px;
  }

  .teaser-columns .row p {
    font-size: 16px;
  }
}

@media (min-width: 900px) {
  main .section.background.teaser-columns-container {
    height: 100%;
  }
  
  .teaser-columns .row {
    flex-direction: row;
  }

  .row .teaser-column {
    flex: 50%;
  }
  
  .row .teaser-column .text-wrapper {
    max-width: 600px;
  }
  
  .row .teaser-column:not(.text-on-image-column) {
    display: flex;
    justify-content: end;
    align-items: center;
    order: 0;
  }

  .teaser-column:not(.text-on-image-column) h3 { 
    font-size: 20px;
  }

  .teaser-column.text-on-image-column h3 {
    font-size: 30px;
  }

  .teaser-columns .row p {
    font-size: 18px;
    line-height: 23px;
  }
  
  .teaser-column.text-on-image-column img {
    max-height: 100%;
  }
}