.performance-specifications {
  --gold-button-background: var(--c-primary-gold);
  --specs-grid-template-columns: 1fr;
}

.performance-specifications .category-tablist[role="tablist"] {
  display: flex;
}

.performance-specifications .category-tablist [role="tab"] {
  color: var(--c-secondary-steel);
  width: 33vw;
  transition: 0.5s all;
  border-bottom: 3px solid var(--navigation-line-default-color);
  padding-bottom: 0.7em;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
  text-align: center;
  background-color: transparent;
  font-size: var(--body-font-size-s);
  font-family: var(--ff-subheadings-medium);
  font-weight: normal;
}

.performance-specifications .category-tablist [role="tab"][aria-selected="true"],
.performance-specifications .category-tablist [role="tab"]:hover {
  color: var(--c-primary-white);
  border-bottom: 3px solid var(--c-accent-red);
}

.performance-specifications .category-detail {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--c-primary-white);
  margin-bottom: 20px;
}

.performance-specifications .category-detail .category-description {
  font-size: var(--body-font-size-s);
  max-width: 600px;
}

.performance-specifications .engine-ratings {
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  margin-top: 6px;
  margin-right: 1em;
}

.performance-specifications .engine-navigation {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}

/* stylelint-disable-next-line no-descending-specificity */
.performance-specifications .engine-tablist [role="tab"] {
  background-color: var(--c-primary-white);
  font-size: var(--body-font-size-s);
  color: var(--c-primary-black);
  border-radius: 2px;
  padding: 0.4em 0.7em;
  line-height: 1em;
  margin-right: 1em;
  margin-top: 0;
}

.performance-specifications .engine-tablist [role="tab"][aria-selected="true"] {
  background-color: var(--gold-button-background);
}

.performance-specifications .engine-tablist [role="tab"][aria-selected="true"]:hover {
  background-color: var(--button-secondary-gold-hover);
}

.performance-specifications .engine-tablist [role="tab"][aria-selected="false"]:hover {
  background-color: var(--button-tertiary-white-hover);
}

.performance-specifications .details-panel {
  display: grid;
  grid-template-columns: var(--specs-grid-template-columns);
}

.performance-specifications .details-panel dl dt {
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  line-height: 1em;
  letter-spacing: 0.1em;
  padding-top: 1.2em;
  padding-right: 0;
  padding-left: 0;
}

.performance-specifications .details-panel dl dd {
  line-height: 1em;
  font-size: var(--body-font-size-xs);
  letter-spacing: -0.015em;
  padding: 0.5em 0 0;
  margin-left: 0;
  margin-bottom: 1.2em;
}

.details-panel .key-specs {
  max-width: 290px;
}

.details-panel .loading-spinner {
  pointer-events: none;
  width: 2em;
  height: 2em;
  border: 0.2em solid var(--button-secondary-gold-hover);
  border-top-color: var(--c-primary-gold);
  border-left-color: var(--c-primary-gold);
  border-radius: 50%;
  animation: loading-spin 3s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
}

@keyframes loading-spin {
  100% {
    transform: rotate(360deg);
  }
}

.performance-specifications .performance-chart {
  width: 100%;
  min-height: 480px;
}

@media (min-width: 768px) {
  .performance-specifications {
    --specs-grid-template-columns: 1fr 3fr;
  }
}

@media (min-width: 1200px) {
  .details-panel .key-specs {
    width: 290px;
  }
}
