.cookie-preference-center button.cta {
  touch-action: manipulation;
  white-space: nowrap;
  padding: 20px;
  background-color: var(--c-secondary-dark-gold);
  color: var(--c-primary-white);
  font-weight: 700;
  font-family: var(--ff-volvo-novum);
  font-size: var(--body-font-size-s);
  text-transform: uppercase;
  border-radius: 0.25rem;
}

.cookie-preference-center button.cta:hover {
  background-color: #af9866;
}