.section.magazine-subscribe-container {
  padding: 0 !important;
}

.section.magazine-subscribe-container .magazine-subscribe-wrapper {
  max-width: unset;
}

.magazine-subscribe-section {
  position: relative;
  height: 400px;
  margin: 80px 0 0;
}

.magazine-subscribe-section .magazine-subscribe-image {
  position: absolute;
  display: block;
  width: 100%;
  z-index: -1;
}

.magazine-subscribe-section .magazine-subscribe-image img {
  object-fit: cover;
  width: 100%;
  height: 400px;
}

.magazine-subscribe-section .magazine-subscribe-content {
  color: var(--c-primary-white);
  max-width: 1376px;
  padding: 40px 20px;
  margin: 0 0 0 12px;
}

.magazine-subscribe-content .magazine-subscribe-title {
  font-family: var(--ff-body-bold);
  font-size: var(--heading-font-size-l);
  line-height: 22px;
  padding: 30px 0 0;
  margin: 0;
}

.magazine-subscribe-content .magazine-subscribe-subtitle {
  font-family: var(--ff-body);
  font-size: var(--heading-3-mobile-size-m);
  margin: 30px 0 0;
}

.magazine-subscribe-content .magazine-subscribe-text {
  font-family: var(--ff-body);
  font-size: var(--body-font-size-xs);
  padding: 0 0 20px;
  margin: 30px 0 0;
}

.magazine-subscribe-content .magazine-subscribe-button {
  margin: 20px 0 0;
}

.magazine-subscribe-content .magazine-subscribe-button button {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  line-height: 50px;
  background-color: transparent;
  border: solid 2px var(--c-primary-white);
  margin: 0;
  padding: 0 30px;
}

.magazine .button-container.magazine-subscribe-button {
  display: unset;
}

@media (min-width: 768px) {
  .magazine-subscribe-section .magazine-subscribe-content {
    margin: 0 0 0 50px;
  }
}

@media (min-width: 1024px) {
  .magazine-subscribe-section {
    height: 300px;
  }

  .magazine-subscribe-section .magazine-subscribe-image img {
    height: 300px;
  }

  .magazine-subscribe-content .magazine-subscribe-title {
    font-size: var(--heading-font-size-xxl);
  }

  .magazine-subscribe-content .magazine-subscribe-subtitle {
    font-size: var(--heading-font-size-ml);
    margin: 10px 0 0;
  }

  .magazine-subscribe-content .magazine-subscribe-text {
    margin: 5px 0 0;
  }

  .magazine-subscribe-content .magazine-subscribe-button {
    margin: 10px 0 0;
  }
}

@media (min-width: 1200px) {
  .magazine-subscribe-section .magazine-subscribe-content {
    margin: 0 auto;
  }
}