/* stylelint-disable-next-line no-empty-source */
.inventory {
    font-size: 16px;
    max-width: 950px;
    margin: auto;
  }

.inventory .listings-list {
    display: grid;
    grid-gap: 5px;
 }
   
.inventory .listing-smallcard {
    padding: 5px;
    border-radius: 3px;
 }

 @media (min-width: 1024px) {
    .inventory .listings-list {
        grid-template-columns: repeat(4, 1fr);
     }
 }

 @media (min-width: 771px) and (max-width: 1023px) {
    .inventory .listings-list {
        grid-template-columns: repeat(3, 1fr);
     }
 }

 @media (min-width: 480px) and (max-width: 770px) {
    .inventory .listings-list {
        grid-template-columns: repeat(2, 1fr);
     }
 }

 @media (max-width: 470px) {
    .inventory .listings-list {
        grid-template-columns: repeat(1, 1fr);
     }
 }
 
 .inventory .details-mobile.cf > div > a > span > img, .inventory .gtm-messenger.listings-button.widget-email.widget-details.facebook-messenger.js-phone-clicktotrack > span > img{
    height:16px;
 }
  