.inventory-container a:any-link {
  color: var(--primary-black);
}

.inventory-container a:any-link:hover {
  color: var(--link-color);
}

.widget-price-container {
  height: 3.6rem;
  justify-content: center;
}
