.columns-container {
  position: relative;
}

.section.background .columns-wrapper {
  position: relative;
  z-index: 1;
}

.columns.info {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 32px;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

hr.column-underline {
  margin: 0;
  border-bottom-width: 3px;
}

.columns.promo .columns-promo-text-wrapper {
  order: 2;
}

.columns.promo .columns-promo-picture-wrapper {
  order: 1;
}

.columns.promo.underlined-text .columns-promo-text-wrapper {
  display: flex;
  flex-direction: column;
}

.columns.promo.underlined-text .columns-promo-text-wrapper :is(p, ul) {
  font-size: 90%;
}

.columns.promo.underlined-text .columns-promo-text-wrapper ul {
  list-style: none;
  padding: 0;
}

.columns.promo.underlined-text .columns-promo-text-wrapper ul > li {
  padding-block: 1rem;
  border-block-start: 2px solid var(--c-tertiary-cool-gray);
}

.columns.options > div > div {
  margin-bottom: 48px;
}

.columns.options h2 {
  padding: 42px;
  margin: 0;
  background: var(--c-primary-black);
  color: var(--c-primary-white);
  font-size: var(--body-font-size-xs);
  text-align: center;
  font-family: var(--ff-body-bold);
  line-height: 14px;
}

.columns.options h3 {
  padding: 7px 0;
  margin: 0;
  line-height: 14px;
  font-size: var(--body-font-size-xs);
  font-family: var(--ff-body-bold);
}

/* stylelint-disable-next-line no-descending-specificity */
.columns.options p {
  margin: 0;
  padding: 3px 0 15px;
  font-size: var(--body-font-size-xxs);
  font-family: var(--ff-body);
  line-height: 15px;
}

.columns .link-with-video img {
  height: 100%;
  object-fit: cover;
}

@media (min-width: 496px) {
  .columns > div {
    flex-flow: row wrap;
    gap: 16px;
  }

  .columns > div > div {
    width: calc(50% - 8px);
  }

  .columns.options h2 {
    padding: 48px;
    font-size: var(--body-font-size-s);
    line-height: 16px;
  }

  .columns.options h3 {
    padding: 8px 0;
    line-height: 16px;
    font-size: var(--body-font-size-s);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .columns.options p {
    padding: 3px 0 17px;
    font-size: var(--body-font-size-xxs);
    line-height: 15px;
  }
}

@media (min-width: 900px) {
  .hero-container.columns-container .info picture::after,
  .section.background::before {
    z-index: 0;
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, rgba(0 0 0 / 0%) 70%, #000 100%);
    pointer-events: none;
  }

  .section.columns-container .columns-wrapper.info.absolute {
    position: initial;
    display: flex;
    justify-content: center;
  }

  .columns.absolute {
    position: absolute;
    bottom: 3.2rem;
    padding-inline: 1rem;
  }

  .columns > div {
    display: flex;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
  }

  .columns.info > div {
    gap: 96px;
  }

  .columns.info .columns-col-wrapper > :not(:first-child) {
    font-size: 85%;
  }

  .columns.promo .columns-promo-text-wrapper {
    align-self: center;
  }

  .columns.promo .columns-promo-text-wrapper > * {
    width: 75%;
  }

  .columns.promo .columns-promo-text-wrapper p {
    font-size: 90%;
  }

  .columns.promo .columns-promo-text-wrapper,
  .columns.promo .columns-promo-picture-wrapper {
    order: unset;
  }

  .columns-promo-text-wrapper.columns-promo-img-left {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .columns.promo.underlined-text .columns-promo-picture-wrapper {
    display: flex;
    align-items: center;
  }

  .columns.promo.underlined-text .columns-promo-text-wrapper {
    align-items: center;
  }

  .columns.options h2 {
    padding: 60px;
    font-size: var(--body-font-size-l);
    line-height: 20px;
  }

  .columns.options h3 {
    padding: 9px 0;
    line-height: 18px;
    font-size: var(--body-font-size-m);
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .columns.options p {
    padding-bottom: 19px;
    font-size: var(--body-font-size-xs);
  }
}
