.accordion .accordion-item {
  border-top: 3px solid var(--c-primary-black);
  padding: 32px 0;
}

.accordion .accordion-header-button {
  margin: 0;
  background: inherit;
  color: var(--c-primary-black);
  text-align: left;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 0;
  padding: 0;
}

.accordion .accordion-header-button h2 {
  margin: 0;
  font-family: var(--ff-body-bold);
  font-size: 14px;
  line-height: 15px;
}

.accordion .accordion-header-button .accordion-close {
  width: 40px;
  height: 40px;
  background-color: var(--c-primary-white);
  border: 2px solid var(--c-primary-black);
  border-radius: 50%;
  margin-left: 14px;
  min-width: 40px;
  background-image: url("../../icons/minus.png");
  background-size: cover;
  background-position: center left;
  background-repeat: no-repeat;
  transition: 0.25s all;
}

.accordion .accordion-header-button .accordion-close:hover {
  background-position: center right;
  background-color: var(--c-primary-black);
}

.accordion .accordion-item-close .accordion-header-button .accordion-close {
  background-image: url("../../icons/plus.png");
}

.accordion .accordion-header-button:hover .accordion-close {
  background-position: center right;
  background-color: var(--c-primary-black);
}

.accordion .accordion-content p,
.accordion .accordion-content {
  font-family: var(--ff-body);
  font-size: 11px;
  line-height: 15px;
  opacity: 1;
  height: auto;
  padding: 16px 0;
  transition: all 0.5s;
  margin-bottom: -16px;
}

.accordion .accordion-item-close .accordion-content {
  height: 0;
  opacity: 0;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.accordion .accordion-content a {
  color: var(--c-primary-black);
  font-family: var(--ff-body-bold);
  font-size: var(--body-font-size-s);
  line-height: 16px;
}


@media (min-width: 496px) {
  .accordion .accordion-header-button h2 {
    font-size: var(--heading-font-size-xs);
  }

  .accordion .accordion-content p,
  .accordion .accordion-content {
    font-size: var(--body-font-size-xxs);
  }
}

@media (min-width: 768px) {
  .accordion .accordion-header-button h2 {
    font-size: var(--heading-font-size-s);
    line-height: 20px;
  }

  .accordion .accordion-content p,
  .accordion .accordion-content {
    font-size: var(--body-font-size-xs);
  }

  .accordion .accordion-content > p {
    width: 75%;
  }
}

@media (min-width: 1025px) {
  .accordion .accordion-header-button h2 {
    font-size: var(--heading-font-size-m);
    line-height: 22px;
  }

  .accordion .accordion-content p,
  .accordion .accordion-content {
    font-size: var(--body-font-size-s);
    line-height: 20px;
  }
}