.teaser-grid-container {
  padding: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.teaser-grid-container {
  /* todo - change to backgound image */
  background-color: black;
  height: 750px;
}

.teaser-grid-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  height: inherit;
}

.teaser-grid {
  display: flex;
  align-items: center;
  height: 100%;
}

.teaser-grid-list {
  list-style-type: none;
  padding: 0;
}

.teaser-grid-item * {
  color: white;
}

.teaser-grid-item:hover * {
  text-decoration: none;
}

.teaser-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.teaser-link {
  padding: 16px 0 16px 16px;
  background: linear-gradient(0deg, #00000050 0%, transparent 100%);
}

.teaser-grid-item .teaser-button {
  color: white;
  width: fit-content;
  font-size: 10px;
  border: none;
  background-color: #87754e;
  padding: 6px 10px;
  margin: 0 0 0 16px;
}
.teaser-grid-item .teaser-button:hover {
  color: #999;
}

.teaser-grid-item .teaser-title {
  font-size: 18px;
  margin: 0;
  max-width: 90%;
  font-family: "Helvetica Neue 85 Heavy"!important;
  line-height: 1em;
  letter-spacing: normal;
}

.teaser-grid-item .teaser-subtitle {
  margin-top: 8px;
  margin-bottom: 0;
  font-size: 12px;
  font-family: "Helvetica Neue Regular 55",Helvetica,Arial,sans-serif!important;
  line-height: 1.24em;
  letter-spacing: normal;
}


.teaser-grid-item-1 {
  grid-area: first;
}
.teaser-grid-item-2 {
  grid-area: second;
}
.teaser-grid-item-3 {
  grid-area: third;
}
.teaser-grid-item-4 {
  grid-area: fourth;
}
.teaser-grid-item-5 {
  grid-area: fifth;
}
.teaser-grid-item-6 {
  grid-area: sixth;
}
.teaser-grid-list {
  display: grid;
  grid-template-rows: 150px 150px 150px 150px;
  grid-template-areas: 
    'first second third'
    'first second fourth'
    'fifth fifth sixth'
    'fifth fifth sixth';
  column-gap: 5px;
  row-gap: 5px;
}
