.section.hotspots-container {
    padding: unset;
    background-color: var(--primary-black);
}

/* TODO: fix all prefixes */

.hotspots-container .hotspots-wrapper {
    max-width: unset;
    margin: 0
}


.hotspots-container .main p.reduced-width {
    width: 100%;
    max-width: 500px;
    margin: 0 auto
}

.hotspot-area.no-spots {
    background-size: 100%;
    background-repeat: no-repeat
}

.hotspot {
    position: relative;
    width: 100%;
    z-index: 1
}

.hotspot .hotspot-bg-img img {
    width: 100%;
    margin: 0 auto;
    display: block
}

.hotspot .hotspot-bg-img.mobile img {
    display: none
}

.hotspot .hotspot-content {
    position: absolute;
    z-index: 2;
    top: 120px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center
}

.hotspot .hotspot-content.invert {
    color: #000
}


.hotspot .hotspot-content h1,.hotspot .hotspot-content p {
    max-width: 600px
}

.hotspot .hotspot-content h1 {
    font: 80px/62px var(--headline-ff-medium);
    letter-spacing: -.035em;
    margin: -20px auto 0;
    text-align: center

}

.hotspot .hotspot-content p {
    font-size: var(--body-font-size-l);
    font-family: var(--body-ff);
    margin: 0;
    width: 500px;
    max-width: 500px;
    line-height: 1em;
}

.hotspot .hotspot-content .hotspot-text {
    padding-top: 16px
}

.hotspot .hotspot-icon-set {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    overflow: hidden
}

.hotspot .hotspot-icon-set a.hotspot-icon {
    position: absolute;
    transform: rotate(0)
}

.hotspot .hotspot-icon-set a.hotspot-icon.active-spot img {
    transform: rotate(45deg)
}

.hotspot .hotspot-icon-set a.hotspot-icon img {
    transition: .3s
}

.hotspot.no-spots {
    height: 500px;
    padding: 0 0 75px;
    margin-bottom: 0;
    overflow: hidden
}

.hotspot.no-spots::after {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 2
}

.hotspot.no-spots~* {
    z-index: 2
}

.hotspot.no-spots .hotspot-content {
    top: initial;
    bottom: 75px;
    z-index: 3
}

.hotspot.truck .hotspot-content .hotspot-header {
    font: 65px/72px var(--headline-ff-medium);
}

.hotspot.truck .feature-block:first-child {
    margin-top: -340px;
    z-index: 2
}

@media (max-width: 896px) {
    .hotspot .hotspot-bg-img.desktop img {
        display:none
    }

    .hotspot .hotspot-bg-img.mobile img {
        display: block
    }

    .hotspot {
        padding-bottom: 18vw
    }

    .hotspot.truck {
        margin-bottom: 0
    }

    .hotspot.truck+.feature-block {
        margin-top: 0;
        z-index: 2
    }

    .hotspot.no-spots {
        height: 400px;
        padding: 0 0 75px;
        margin-bottom: 0;
        overflow: hidden
    }

    .hotspot.no-spots::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        background: linear-gradient(to bottom,rgb(0 0 0 / 0%) 0,rgb(0 0 0 / 0%) 80%,#000 100%)
    }

    .hotspot.no-spots~* {
        z-index: 2
    }

    .hotspot.no-spots .hotspot-content {
        top: initial;
        bottom: -20vw;
        z-index: 3
    }

    .hotspot.no-spots+.hotspot-mobile+.three-column-info-container {
        margin-bottom: 0;
        margin-top: 0
    }

    .hotspot .hotspot-content {
        top: -10vw;
        position: relative
    }

    .hotspot .hotspot-content .hotspot-header {
        font: 8vw/12vw var(--headline-ff-medium);
        color: #fff!important
    }

    .hotspot .hotspot-content p.hotspot-text {
        font-size: 20px;
        line-height: 1.1;
        color: #fff!important
    }

    .hotspot .hotspot-icon-set {
        display: none
    }

    .hotspot-mobile .feature-block .feature .feature-title {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 10px
    }

    .hotspot-mobile .feature-block .feature p {
        max-width: none;
        font-size: 16px;
        line-height: 20px
    }
}

@media (max-width: 640px) {
    .hotspot .hotspot-content {
        top:-8vw
    }
}

.hotspot-mobile {
    width: 100%
}

@media (min-width: 897px) {
    .hotspot-mobile {
        display:none
    }
}

.hotspot-layover {
    margin-bottom: 0;
    padding-bottom: 0;
    position: fixed;
    z-index: 102;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0 0 0 / 0%)
}

.hotspot-layover a:link {
    color: #fff
}

.hotspot-layover a:hover {
    color: #5d5d5d
}

.hotspot-layover a:visited {
    color: #fff
}

.hotspot-layover h1 {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    font: 50px/50px var(--headline-ff-medium);
    text-align: center
}

.hotspot-layover h2 {
    font: 44px/44px var(--headline-ff-medium)
}

.hotspot-layover h3 {
    font: 20px/18px var(--headline-ff-medium);
    margin-bottom: 8px
}

.hotspot-layover h4 {
    font: 18px/18px var(--headline-ff-medium);
}

.hotspot-layover h5 {
    margin: 10px 0 8px;
    font: 12px/12px 'Helvetica Neue 75 Bold';
    text-transform: uppercase
}

.hotspot-layover h6 {
    font-family: 'Helvetica Neue 75 Bold';
}

.hotspot-layover p,.hotspot-layover p.large {
    font: 16px/1.1 'Helvetica Neue Regular 55'
}

.hotspot-layover p {
    margin-top: 12px;
    margin-bottom: 12px
}

.hotspot-layover p.fine-print {
    margin: 5px 0;
    font-size: 10px;
    color: #5b5b5b
}

.hotspot-layover p.reduced-width {
    width: 100%;
    max-width: 500px;
}

.hotspot-layover a {
    font: 16px/16px 'Helvetica Neue 75 Bold';
    color: #fff
}

@media (max-width: 896px) {
    .hotspot-layover h1,.hotspot-layover h2 {
        font:40px/40px var(--headline-ff-medium);
    }

    .hotspot-layover h3 {
        font: 28px/28px 'Helvetica Neue 75 Bold';
    }

    .hotspot-layover h4,.hotspot-layover h5 {
        font: 14px/14px var(--headline-ff-medium)
    }

    .hotspot-layover p {
        font: 16px/16px 'Helvetica Neue Regular 55';
    }

    .hotspot-layover p.large {
        /* TODO: fonts */
        font: 16px/16px 'Helvetica Neue 65 Medium';
    }
}

.hotspot-layover.is-active {
    transition: background-color .3s linear;
    background-color: rgb(0 0 0 / 50%)
}

.hotspot-layover .hotspot-layover-box {
    transition: transform .3s ease-out;
    position: absolute;
    top: 0;
    right: 0;
    width: 460px;
    height: 100%;
    background: #333;
    transform: translateX(125%)
}

.hotspot-layover .hotspot-layover-box.is-active {
    transform: translateX(0)
}

.hotspot-layover .hotspot-layover-box.no-animation {
    transition: color 0 ease-in!important;
    transition: none!important;
    transition-property: none!important
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-thumb {
    position: relative;
    z-index: 2;
    width: 100%;
    padding-bottom: 70%;
    background-position: center;
    background-size: cover
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-close {
    width: 22px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    z-index: 3
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-text {
    position: relative;
    z-index: 2;
    padding: 48px;
    height: calc(100% - 422px);
    overflow-y: auto
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 0;
    display: table;
    width: 100%;
    background-color: #111
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button {
    display: table-cell;
    width: 50%;
    height: 100px;
    font-size: 16px;
    line-height: 1.1;
    vertical-align: middle;
    position: relative;
    cursor: pointer
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%)
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button.prev {
    text-align: left;
    padding: 0 15px 0 65px
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button.prev img {
    left: 30px
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button.next {
    text-align: right;
    padding: 0 65px 0 15px
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button.next img {
    right: 30px
}

.hotspot-layover .hotspot-layover-box .hotspot-layover-controls .hotspot-layover-button:first-child {
    border-right: 1px solid #222
}

.hotspot.truck {
    margin-bottom: -160px
}

.hotspot.truck~.feature-block {
    z-index: 2
}

@media (max-width: 896px) {
    .hotspot.truck {
        margin-bottom:0
    }
}




.content-wrapper {
    position: relative;
    width: 100%;
    max-width: 1376px;
    margin: 0 auto;
    padding: 0 48px
}

@media (max-width: 1280px) {
    .content-wrapper {
        width:100%;
        padding: 0 48px
    }
}


.featurenav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: #1b1b1b;
    z-index: 10
}

.featurenav .featurenav-list {
    padding: 0;
    margin: 0;
    width: 100%;
    list-style: none;
    display: inline
}

.featurenav .featurenav-list .featurenav-list-item {
    width: 33.333%;
    position: relative;
    display: block;
    float: left;
    height: 100%;
    border-right: 1px solid #1d1d1d
}

.featurenav .featurenav-list .featurenav-list-item.active::before,.featurenav .featurenav-list .featurenav-list-item:hover::before {
    display: none
}

.featurenav .featurenav-list .featurenav-list-item::before {
    content: '';
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 50%)
}

.featurenav .featurenav-list .featurenav-list-item a {
    position: absolute;
    padding: 0;
    color: #fff;
    display: block;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: 'Helvetica Neue 75 Bold',serif;
    font-size: .85em
}

@media (min-width: 897px) {
    .featurenav {
        display:none
    }
}



.section.hotspots-container {
    width: 100%
}

@media (max-width: 896px) {
    .section.hotspots-container {
        display:none
    }

    .section.hotspots-container.active {
        display: block
    }
}

.section.hotspots-container.no-spots {
    background-size: 100%;
    background-repeat: no-repeat
}
