.v2-recommendations-container {
  background-color: var(--c-primary-gray);
}

.v2-recommendations {
  padding-top: 12px;
  padding-bottom: 32px;
}

.v2-recommendations > h3 {
  font-family: var(--ff-headline-medium);
  font-size: 27px;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.54px;
  padding-left: 16px;
  padding-right: 16px;
}

.v2-recommendations__articles {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 16px;
}

.v2-recommendations__article .v2-recommendations__article-link {
  color: var(--c-primary-black);
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.v2-recommendations__article-image {
  height: 241px;
  object-fit: cover;
  object-position: center;
}

.v2-recommendations__article-content {
  background-color: var(--c-primary-white);
  padding: 24px;
}

.v2-recommendations__article-content-category {
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  margin-top: 0;
}

.v2-recommendations__article-content-title {
  font-family: var(--ff-headline-medium);
  font-size: 20px;
  font-weight: 500;
  line-height: 115%;
  margin-top: 0;
  margin-bottom: 0;
}

@media (min-width: 768px) {
  .v2-recommendations {
    padding-top: 48px;
    padding-bottom: 80px;
  }

  .v2-recommendations > h3 {
    font-size: 45px;
    line-height: 115%;
    letter-spacing: -0.9px;
    padding-left: 0;
    padding-right: 0;
  }

  .v2-recommendations__articles {
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-top: 32px;
  }

  .v2-recommendations__article {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    flex-grow: 1;
  }

  .v2-recommendations__article-link {
    height: 100%;
  }

  .v2-recommendations__article-image {
    height: 198px;
  }

  .v2-recommendations__article-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding-bottom: 40px;
  }
}
