
.download-container {
  padding: 0 !important;
}

.download-list {
  padding: 30px 10px;
  list-style: none;
  padding-left: 0;
}

.download-card {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--c-secondary-steel);
  padding: 15px 0;
}

.download-card .download-image {
  margin-right: 20px;
}

.download-card .download-image img {
  min-width: 110px;
  height: 70px;
}

.download-card .download-texts-title {
  color: var(--c-primary-black);
  font-size: var(--body-font-size-s);
  font-family: var(--ff-body-bold);
  line-height: 28px;
}

.download-card .download-texts-text a,
.download-card .download-texts-text,
.download-card .download-texts-link {
  color: var(--c-secondary-graphite);  
  font-size: var(--body-font-size-xs);
  font-family: var(--ff-body);
  line-height: 22px;
  
}

.download-card .download-texts-link {
  font-weight: 700;
  
}

.download-card .download-texts-text {
  margin: 0 0 15px;
  margin-top: 8px;
}

.download-card .download-texts-text a {
  text-decoration: underline;
}

.download-card .download-texts a:hover {
  color: var(--c-secondary-steel);
}

/* download block variation NEW */
.download-new-list {
  font-family: var(--ff-body-bold);
  list-style: none;
  padding: 20px 8px;
  margin: 0;
}

.download-new-item {
  --item-height: 65px;

  min-height: var(--item-height);
  max-height: var(--item-height);
  background-color: var(--c-secondary-silver);
  margin-bottom: 5px;
}

.download-new-link {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.download-new-texts {
  color: var(--c-primary-black);
  font-size: var(--body-font-size-m);
  padding: 9px 0 9px 15px;
  line-height: normal;
  font-weight: 700;
  min-height: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.download-new-texts p {
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-new-texts small {
  font-size: calc(var(--body-font-size-m) / 2);
  overflow: hidden;
  text-overflow: ellipsis;
}

.download-new-label {
  min-width: 50px;
  background-color: var(--c-secondary-dark-gold);
  color: var(--c-primary-white);
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  height: var(--item-height);
  text-align: center;
  padding-top: 20px;
}

.download-new-link:hover  {
  text-decoration: none;
}

.download-new-link:hover small,
.download-new-link:hover p {
  color: var(--c-secondary-steel);
}

@media (min-width: 768px) {
  .download-card .download-image img {
    min-width: 220px;
    height: 140px;
  }

  .download-card .download-texts-title {
    font-size: var(--body-font-size-xxl);
  }

  .download-card .download-texts-text a,
  .download-card .download-texts-text,
  .download-card .download-texts-link {
    font-size: var(--body-font-size-s);
  }

  .download-card .download-texts-text {
    margin: 0 0 24px;
    margin-top: 10px;
  }

  /* download block variation NEW */
  .download-new-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .download-new-item {
    --item-height: 134px;
  
    min-width: 960px;
    max-width: 960px;
  }

  .download-new-texts {
    padding: 30px 110px 30px 48px;
  }

  .download-new-texts p {
    font-size: var(--body-font-size-xxl);
  }

  .download-new-texts small {
    font-size: var(--body-font-size-xxs);
  }

  .download-new-item:hover {
    background-color: var(--c-primary-gold);
    transition: .35s;
  }

  .download-new-link:hover small,
  .download-new-link:hover p {
    color: var(--c-primary-white);
  }

  .download-new-label {
    min-width: 110px;
    font-size: var(--body-font-size-xxl);
    padding-top: 45px;
  }
}