/* stylelint-disable selector-class-pattern */

.v2-testimonial-wrapper {
  --testimonial-padding: 90px;
}

.v2-testimonial {
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.v2-testimonial__blockquote-column {
  background-color: var(--c-secondary-graphite);
  padding: 48px 16px;
  color: var(--c-primary-white);
  font: var(--body-2-font-size)/var(--body-2-line-height) var(--ff-body);
  letter-spacing: 0.3px;
}

.v2-testimonial__blockquote-column strong {
  font-family: var(--ff-body-bold);
  font-weight: normal;
}

.v2-testimonial__heading {
  color: var(--c-primary-white);
  font: var(--headline-2-font-size)/var(--headline-2-line-height) var(--ff-headline-medium);
  letter-spacing: -0.64px;
  margin: 24px 0;
}

.v2-testimonial__blockquote {
  font: var(--testimonial-font-size)/var(--testimonial-line-height) var(--ff-testimonial);
  letter-spacing: var(--testimonial-letter-spacing);
  margin: 40px 0;
  text-indent: 0;
}

@supports not (hanging-punctuation: first) {
  .v2-testimonial__blockquote p::before {
    display: inline-block;
    width: 0.75rem;
    margin-left: -0.75rem;
  }
}

.v2-testimonial__image {
  width: 100%;
  display: flex;
  aspect-ratio: 16/9;
  object-fit: cover;
  object-position: center;
}

.v2-testimonial__video-section {
  padding: 20px 16px;
  background-color: var(--c-primary-gold);
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1;
  gap: 8px;
}

.v2-testimonial__author {
  display: inline-flex;
  gap: 16px;
  align-items: center;
  margin: 0;
  font-size: 13px;
}

.v2-testimonial__author svg {
  width: 32px;
  height: 32px;
}

.v2-testimonial__author strong {
  font-family: var(--ff-body-bold);
  font-weight: normal;
}

.v2-testimonial__video-link-wrapper {
  margin: 0;
  display: flex;
}

.v2-testimonial .v2-testimonial__video-section .v2-testimonial__video-link {
  margin: 0;
  padding: 4px 0;
  color: var(--c-primary-black);
  font: normal 400 var(--button-font-size)/var(--button-line-height) var(--ff-body);
  letter-spacing: 1.12px;
  background: transparent;
  border: 0;
  display: inline-flex;
  gap: 8px;
  align-items: center;
}

.v2-testimonial .v2-testimonial__video-section .v2-testimonial__video-link:hover {
  text-decoration: underline;
}

.v2-testimonial__video-link::before {
  content: '';
  height: 32px;
  width: 1px;
  background: var(--c-accent-copper);
}

.v2-testimonial__video-link .icon {
  height: 24px;
}

.v2-testimonial__video-link svg {
  height: 24px;
  width: 24px;
}

.v2-testimonial__text-row {
  order: 2;
}

.v2-testimonial__image-row {
  order: 1;
}

@media (min-width: 1200px) {
  .v2-testimonial {
    margin: 0 auto;
    max-width: 1440px;
    padding-bottom: 60px;
  }

  .v2-testimonial__image-row {
    width: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    max-height: calc(100% - 100px);
    overflow: hidden;
  }

  .v2-testimonial__text-row {
    width: 50%;
    position: relative;
    z-index: 1;
  }

  .v2-testimonial__blockquote-column > * {
    max-width: 430px;
    margin-left: auto;
  }

  .v2-testimonial__blockquote-column {
    padding: 54px var(--testimonial-padding) 34px;
  }

  .v2-testimonial__video-section {
    padding: 20px 40px;
  }

  .v2-testimonial--overlap .v2-testimonial__image-row,
  .v2-testimonial--overlap .v2-testimonial__text-row {
    width: calc(50% + 80px);
  }

  .v2-testimonial--overlap .v2-testimonial__blockquote-column > * {
    max-width: 510px;
  }

  .v2-testimonial--media-left {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
  }

  .v2-testimonial--media-left .v2-testimonial__blockquote-column > * {
    margin-right: auto;
    margin-left: unset;
  }

  .v2-testimonial--media-left .v2-testimonial__image-row {
    left: 0;
    right: unset;
  }

  .v2-testimonial--media-right {
    display: flex;
    justify-content: flex-start;
  }

  .v2-testimonial--media-right .v2-testimonial__image-row {
    left: unset;
    right: 0;
  }
}
