.news-sidebar .news-sidebar-list {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-sidebar .news-sidebar-rss-icon::before {
  content: "";
  background-image: url("/icons/feed-icon.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
}

.news-sidebar a.news-sidebar-rss-icon,
.news-sidebar .news-sidebar-list a {
  display: block;
  color: var(--c-secondary-steel);
  padding: 10px 0 9px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid var(--c-secondary-steel);
  font-weight: 700;
}

.news-sidebar a.news-sidebar-rss-icon,
.news-sidebar .news-sidebar-list a.news-sidebar-rss-icon {
  font-family: var(--ff-subheadings-medium);
  text-decoration: none;
  color: var(--text-color);
}

.news-sidebar a.news-sidebar-rss-icon:hover,
.news-sidebar .news-sidebar-list a.news-sidebar-rss-icon:hover {
  text-decoration: none;
  color: #999;
}

.news-sidebar .news-sidebar-list a:hover,
.news-sidebar a.new-sidebar-active-link {
  text-decoration: none;
  color: var(--text-color);
}

.news-sidebar .news-sidebar-select {
  border: 3px solid #000;
  height: 40px;
  font-size: 14px;
  line-height: 34px;
  box-sizing: border-box;
  margin: 20px 0 10px;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  display: flex;
}

.news-sidebar .news-sidebar-select-label {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  background: white;
  z-index: 1;
  pointer-events: none;
}

.news-sidebar .news-sidebar-select-text {
  padding: 0 10px;
  overflow: hidden;
  text-align: left;
}

.news-sidebar .news-sidebar-select-icon {
  width: 34px;
  border-left: 3px solid #000;
  display: flex;
  justify-content: center;
}

.news-sidebar .news-sidebar-select-icon span {
  transform: rotate(180deg);
}

.news-sidebar select {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

@media (min-width: 1141px) {
  .news-sidebar .news-sidebar-list {
    display: block;
  }

  .news-sidebar .news-sidebar-select-container {
    display: none;
  }
}
