.news-sidebar {
    display: grid;
    gap: 1.5rem;
    justify-content: center;
    text-align: center;
    padding-inline: 2rem;
  }
  
  @media (min-width: 900px) {
    .news-sidebar {
      grid-template-columns: 165px minmax(0, 1fr);
    }
  
    .news-sidebar > * {
      grid-column: 1;
    }
  
    .news-sidebar > .social {
      grid-column: 2;
      grid-row: 1;
      flex-direction: column;
    }
  
    .news-sidebar > .tags-container {
      grid-column: 1 / -1;
    }
  }
  
  .news-sidebar .icon {
    --icon-width: 25px;
  }
  
  .news-sidebar h4.news-title {
    color: var(--color-gray-700);
    font-weight: 600;
    font-size: var(--heading-font-size-xxs);
    text-transform: uppercase;
    margin-block: 1rem;
  }
  
