.news-list a.title-with-icon {
  color: var(--text-color);
  font-size: var(--heading-font-size-xs);
  font-family: var(--ff-body-bold);
  font-weight: bold;
}

.news-list a.title-with-icon:hover {
  color: #999;
}

.news-list a.title-with-icon::before {
  content: "";
  background-image: url("/icons/feed-icon.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-right: 5px;
  background-repeat: no-repeat;
}


.news-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.news-list ul li {
  background-color: #f2f2f2;
  padding: 0;
  margin: 15px 0;
}


.news-list ul li a {
  display: block;
  padding: 10px 30px 9px;
  line-height: 22px;
}

.news-list ul li a:any-link {
  color: var(--text-color);
}

.news-list ul li a:hover {
  color: var(--c-secondary-steel);
  text-decoration: none;
}

.news-list a h3 {
  font-size: var(--heading-font-size-m);
  font-family: var(--ff-body-bold);
  margin-top: 0;
  font-weight: bold;
  margin-bottom: 5px;
}

.news-list a p {
  font-size: var(--body-font-size-xs);
  font-family: var(--ff-subheadings-medium);
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
}

