.redesign-v2 .v2-columns-container {
  overflow-x: clip;

  /* TODO: utilise section--with-background instead */
  --card-background: var(--c-primary-white);
}

.v2-columns__row {
  flex-direction: column;
  display: flex;
  gap: 40px;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
  color: var(--card-text);
}

.v2-columns__column--with-image,
.v2-columns__column--with-text {
  max-width: 512px;
}

.v2-columns__column--with-image {
  position: relative;
  order: 0;
}

.v2-columns__column--with-image img {
  display: block;
}

.v2-columns--background-plane .v2-columns__column--with-image::after {
  content: '';
  position: absolute;
  top: 0;
  left: -16px;
  right: -16px;
  z-index: -1;
  height: 50%;
  background-color: var(--c-secondary-silver);
}

.v2-columns__column--with-text .icon,
.v2-columns__column--with-text svg {
  width: 32px;
  height: 32px;
}

.v2-columns__column--with-text {
  order: 1;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.v2-columns__heading {
  word-wrap: break-word;
}

.v2-columns-container .default-content-wrapper h2,
.v2-columns__heading.h2 {
  font-family: var(--ff-headline-medium);
}

.v2-columns__column--with-text .v2-columns__heading {
  margin: 0;
}

.v2-columns__column--with-text .pretitle {
  margin-bottom: 12px;
}

.v2-columns__column--with-text .v2-columns__body {
  font-size: var(--body-1-font-size);
  margin-top: 0;
  margin-bottom: 0;
}

.v2-columns__column--with-text .v2-columns__body a {
  color: var(--c-primary-black);
  border-bottom: 1px solid var(--c-accent-red);
  text-decoration: none;
}

.v2-columns__column--with-text .button-container {
  margin: 12px 0 0;
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.v2-columns__column--with-text a.button {
  margin: 0;
}

.v2-columns-container:not(.v2-columns-container--with-background-image) .v2-columns__column--with-text a.button:not(a.button:first-of-type) {
  margin: 5px 0 0;
}

@media (min-width: 744px) {
  .v2-columns {
    width: 100%;
  }

  .v2-columns__row {
    align-items: center;
    flex-direction: row;
    gap: 16px;
  }

  .v2-columns__column--with-text,
  .v2-columns__column--with-image {
    flex-direction: column;
    width: 100%;
    padding: 0;
    order: unset;
  }

  .v2-columns--background-plane .v2-columns__column--with-image::after {
    right: 50%;
    left: auto;
    width: 100%;
    height: 100%;
  }

  .v2-columns--background-plane .v2-columns__column--with-text + .v2-columns__column--with-image::after {
    right: auto;
    left: 50%;
  }

  .v2-columns .v2-columns__column--with-text {
    padding: 0 56px;
  }

  .v2-columns .v2-columns__column--with-text .v2-columns__heading {
    font-size: var(--headline-1-font-size);
  }

  .v2-columns__column--with-text ul.v2-columns__body {
    margin: 0;
  }
}

/* TRUCKS VARIATIONS STYLING */

.redesign-v2 .section--with-background.v2-columns-container--with-background-image > picture img {
  position: relative;
  aspect-ratio: 1;
}

.v2-columns-container--with-background-image .v2-columns__column--with-text {
  /* padding: 40px 16px; */
}


/* stylelint-disable-next-line no-descending-specificity */
.v2-columns.v2-columns--with-background-image .button-container a.button,
.v2-columns.v2-columns--with-background-image .button-container a.button:not(a.button:first-of-type) {
  width: 100%;
}

@media (min-width: 744px) {
  .v2-columns__column--with-text .button-container {
    margin: 20px 0 0;
  }

  .redesign-v2 .section.v2-columns-container--with-background-image {
    gap: 0;
  }

  .redesign-v2 .v2-columns-container--with-background-image .v2-columns__column--with-text {
    background-color: var(--card-background);
    position: absolute;
    top: calc(200% * 0.125);
    max-width: 485px;
    padding: 40px;
    left: 72px;
  }

  .v2-columns.v2-columns--with-background-image .button-container a.button,
  .v2-columns.v2-columns--with-background-image .button-container a.button:not(a.button:first-of-type) {
    max-width: 140px;
  }
}

@media (min-width: 1200px) {
  .redesign-v2 .v2-columns-container--with-background-image .v2-columns__column--with-text {
    left: calc(calc(100% - var(--wrapper-width)) / 2);
  }

  .redesign-v2 .section--with-background.v2-columns-container--with-background-image > picture img {
    aspect-ratio: 12 / 7;
  }
}
