.v2-columns {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v2-columns .v2-columns-image,
.v2-columns .v2-columns-content {
  max-width: 343px;
}

.v2-columns .v2-columns-content {
  padding: 40px 0;
}

.v2-columns .v2-columns-content p.v2-columns-content__eyebrow {
  font-family: var(--ff-accents-regular);
  font-size: var(--accent-2-font-size);
  line-height: var(--accent-2-line-height);
  margin: 0;
}

.v2-columns .v2-columns-content h1.v2-columns-content__headline {
  font-size: var(--headline-1-font-size);
  line-height: var(--headline-1-line-height);
  letter-spacing: var(--headline-1-letter-spacing);
  margin: 12px 0;
}

.v2-columns .v2-columns-content p.v2-columns-content__body {
  font-size: var(--body-1-font-size);
  margin: 0 0 32px;
}

.v2-columns .v2-columns-content button.v2-columns-content__cta {
  font-size: var(--button-font-size);
  letter-spacing: 1.12px;
  border-radius: 2px;
  width: 40%;
  height: 48px;
  margin: 0;
  padding: 2px 20px 0;
}

@media (min-width: 1200px) {
  .v2-columns {
    flex-direction: row;
    justify-content: center;
    width: 100%;
    column-gap: 56px;
  }

  .v2-columns .v2-columns-content,
  .v2-columns .v2-columns-image {
    min-width: 50%;
    padding: 0;
  }

  .v2-columns .v2-columns-content h1.v2-columns-content__headline {
    margin: 24px 0 12px;
  }

  .v2-columns .v2-columns-content p.v2-columns-content__body {
    margin: 0 0 24px;
  }
}