/* auto and non-auto block shared styles */

main .hero-container > div {
    max-width: unset;
}

main .hero-container {
    padding: 0;
}

main .hero {
    position: relative;
    padding: 32px;
    min-height: 300px;
}

main .hero h1 {
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    color: var(--primary-white);
}


main .hero picture {
    position: absolute;
    z-index: -1;
    inset: 0;
    object-fit: cover;
    box-sizing: border-box;
}

main .hero img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* default block */

main .hero:not(.auto-block) {
    height: 100vh;
}

main .hero:not(.auto-block) > div {
    position: relative;
}

.hero .hero-content-container {
    height: 100vh;
    position: absolute;
    inset: 0;
    margin: -32px;
    color: var(--primary-white);
}

.hero .hero-content-wrapper {
    height: 100vh;
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1376px;
    margin: 0 auto;
    gap: 1rem;
    padding-inline: 2rem;
}

@media (min-width: 480px) {
    .hero .hero-content-wrapper {
        position: absolute;
        left: 15%;
        max-width: 360px;
        padding: 0;
    }
}

@media (min-width: 600px) {
    .hero .hero-content-wrapper {
        max-width: 450px;
    }
}

@media (min-width: 992px) {
    .hero .hero-content-wrapper {
        max-width: 500px;
    }
}

.hero .hero-content-wrapper > * {
    margin: 0;
}

/* video included */
.hero .hero-video {
    position: absolute;
    inset: 0;
    margin: auto;
    height: 100%;
}

.hero .hero-video.hide {
    display: none;
}

.hero .hero-content-container:has(.hero-video) {
    background-color: var(--primary-black);
}

.hero .hero-content-media:has(.hero-video.hide) picture {
    z-index: 0;
}
