.block.performance-data {
  border: 1px solid #ccc;
}


.block.performance-data dl dt {
  color: #7B7B7B;
  text-transform: uppercase;
  font-size: .7em;
  font-family: var(--emphasis-ff-bold);
  line-height: 1em;
  letter-spacing: -.015em;
  border-top: 1px solid #DBDBDB;
  padding-top: 0.75em;
  padding-right: 0;
  padding-left: 0;
}

.block.performance-data dl dd {
  line-height: 1em;
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  font-family: var(--accents-ff-bold);
  letter-spacing: -.015em;
  padding: 0.5em 0 1em;
  margin-left: 0;
}


.block.performance-data .performance-chart {
  width: 600px;
  height: 400px;
}
