.block.performance-data {
  display: flex;
  gap: 50px;
}

.block.performance-data[hidden] {
  display: none;
}

.block.performance-data dl {
  flex: 1;
}

.block.performance-data dl dt {
  color: #7B7B7B;
  text-transform: uppercase;
  font-size: .7em;
  font-family: var(--emphasis-ff-bold);
  line-height: 1em;
  letter-spacing: -.015em;
  border-top: 1px solid #DBDBDB;
  padding-top: 1.2em;
  padding-right: 0;
  padding-left: 0;
}

.block.performance-data dl dd {
  line-height: 1em;
  font-size: var(--body-font-size-xs);
  font-weight: 700;
  font-family: var(--accents-ff-bold);
  letter-spacing: -.015em;
  padding: 0.5em 0 1.5em;
  margin-left: 0;
}

.loading-spinner {
  pointer-events: none;
  width: 2.5em;
  height: 2.5em;
  border: 0.4em solid #eee;
  border-top-color: #3E67EC;
  border-radius: 50%;
  animation: loadingspin 1s linear infinite;
  position: relative;
  top: 50%;
  left: 50%;
}

@keyframes loadingspin {
  100% {
    transform: rotate(360deg)
  }
}


.block.performance-data .performance-chart {
  width: 100%;
  min-height: 400px;
  flex: 3;
}

@media screen and (max-width: 768px) {
  .block.performance-data {
    flex-direction: column;
  }
}
