.find-dealer-container {
  background-image: url('../../media/find-dealer-map-1280x304.webp');
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: var(--c-primary-black);
}

.section.find-dealer-container {
  padding: 0;
}

@media (min-width: 992px) {
  .section.find-dealer-container {
    padding: 64px 32px;
  }
}

.find-dealer-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--c-primary-white);
}

.find-dealer-input-wrapper {
  display: flex;
  justify-content: center;
}

.find-dealer-input,
.find-dealer-container input:focus,
.find-dealer-container input:hover {
  border: 3px solid rgb(118 118 118);
}

.find-dealer-input {
  background-color: rgb(0 0 0 / 20%);
  padding: 2rem;
  font-size: 110%;
  color: currentcolor;
}