/* TITLES */
.tabs-tab-titles {
  font-family: var(--ff-body-bold);
}

.tabs-tab-titles ul {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem 1rem;
  list-style: none;
  margin-block: 1rem;
  padding: 0;
}

.tabs-tab-titles li {
  cursor: pointer;
  font-size: 90%;
}

.tabs-tab-titles ul li.active,
.tabs-tab-titles ul li:focus,
.tabs-tab-titles ul li:focus-visible,
.tabs-tab-titles ul li:hover {
  box-shadow: 0 2px var(--c-primary-black);
}

/* ITEMS */
.tabs-tab-item {
  display: none;
}

.tabs-tab-item.active {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-block-start: 2px solid var(--c-secondary-silver);
}

.tabs-tab-item.active > div {
  flex: 1 1 100%;
}

.tabs-tab-item.active .tab-picture-wrapper {
  display: flex;
  justify-content: center;
  order: 1;
}

.tabs-tab-item.active .tab-text-wrapper {
  order: 2;
}

.tabs-tab-item.active picture {
  display: inline-block;
}

.tabs-tab-item.active picture,
.tabs-tab-item.active h3 {
  margin-block-start: 2rem;
}

@media (min-width: 480px) {
  .tabs-tab-titles ul {
    gap: 2rem;
  }
}

@media (min-width: 748px) {
  .tabs-tab-item.active {
    flex-direction: initial;
  }

  .tabs-tab-item.active :is(.tab-text-wrapper , .tab-picture-wrapper) {
    order: unset;
  }
}

@media (min-width: 992px) {
  .tabs-tab-titles ul {
    gap: 3rem;
  }
}
