.v2-solutions-container {
  display: flex;
  flex-direction: column;
}

.v2-solutions-wrapper {
  flex-basis: 33.33%;
}

.v2-solutions-container.v2-cards-container {
  margin: auto;
}

.v2-solutions-container.v2-cards-container .v2-cards-wrapper {
  flex-basis: 66.66%;
}

.v2-solutions-container.v2-cards-container .v2-cards__card-item {
  width: 100%;
}

.v2-solutions {
  max-width: 512px;
  display: flex;
  flex-flow: column;
  gap: 16px;
}

.v2-solutions > *,
.v2-solutions a.button {
  margin: 0;
}

.v2-solutions h1 {
  font: normal var(--headline-1-font-size)/1.15 var(--ff-headline-medium);
}

.v2-solutions h1 + p {
  font: normal var(--body-font-size-s)/1.5 var(--ff-body);
}

.v2-solutions .button-container {
  margin: 12px 0 0;
}

@media (min-width: 744px) {
  .v2-solutions-container {
    flex-direction: row;
  }

  .v2-solutions-container.v2-cards-container {
    margin: auto;
  }

  .v2-solutions-container.v2-cards-container .v2-cards {
    justify-content: flex-end;
  }

  .v2-solutions-container.v2-cards-container .v2-cards__card-item {
    max-width: calc(50% - (var(--card-container-gap) / 2));
  }
}

@media (min-width: 1200px) {
  .v2-solutions-container.v2-cards-container {
    display: grid;
    grid-template-columns: 1fr 320px 32px 688px 1fr;
    gap: 0;
  }

  .v2-solutions-container.v2-cards-container .v2-solutions-wrapper {
    grid-column: 2;
  }

  .v2-solutions-container.v2-cards-container .v2-cards-wrapper {
    grid-column: 4;
  }

  .v2-solutions h1 {
    font-size: var(--headline-1-font-size);
  }
}
