.block .table {
  overflow-x: auto;
  max-width: 100%;
}

.block.table table {
  border-collapse: collapse;
  width: 100%;
}

.block.table td {
  border: 1px solid #e5e5e5;
  padding: 16px;
  font-size: var(--body-font-size-xs);
}

.block.table td:first-child {
  line-height: 20px;
}

.block.table td p {
  margin: 0;
}

.block.table .table-cell-heading {
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--body-font-size-xs);
}

.block.table h5.table-cell-heading {
  font-family: var(--ff-body-bold);
}

/* stylelint-disable-next-line no-descending-specificity */
.block.table h5.table-cell-heading ~ p {
  font-size: var(--body-font-size-xxs);
  padding: 3px 0;
}

.block.table .table-heading {
  background-color: #eee;
  border-bottom: 2px solid var(--c-primary-black);
}

.block.table.row-header {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .block.table td {
    border: 1px solid #e5e5e5;
    padding: 16px;
    font-size: var(--body-font-size-s);
  }

  .block.table .table-cell-heading {
    font-size: var(--body-font-size-s);
  }

  .block.table h5.table-cell-heading {
    font-family: var(--ff-body-bold);
  }

  .block.table.row-header table {
    display: block;
    border-collapse: collapse;
    width: 100%;
  }

  .block.table.row-header tr {
    border: 1px solid #d3d3d3;
  }

  .block.table.row-header td {
    color: var(--c-primary-black);
    padding: 10px;
    border: none;
  }

  .block.table.row-header td:first-child {
    width: 30%;
    border-right: none;
  }

  .block.table.row-header td:first-child p {
    margin: 0;
    font-family: var(--ff-body-bold);
    font-size: 18px;
    text-align: left;
    vertical-align: middle;
    padding: 25px 5px;
    border-right: 1px solid #d3d3d3;
  }
}

@media (min-width: 991px) {
  .block.table.row-header td:first-child p {
    padding: 25px 15px;
  }
}

@media (min-width: 1200px) {
  .block.table.row-header td:first-child p {
    padding: 25px;
  }
}

@media (max-width: 767px) {
  .block.table.row-header table {
    width: 100%;
  }

  .block.table.row-header tr {
    border-top: 2px solid var(--c-primary-black);
    border-bottom: 2px solid var(--c-primary-black);
    border-left: 0;
    border-right: 0;
    width: 100%;
  }

  .block.table.row-header td:not(:first-child) {
    display: none;
  }

  .block.table.row-header td:first-child {
    cursor: pointer;
    position: relative;
  }

  .block.table.row-header td:first-child::after {
    content: "\25B8";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%) rotate(90deg);
    transition: transform 0.3s ease;
  }

  .block.table.row-header td.open:first-child::after {
    content: "\25B8";
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
  }

  .block.table.row-header td.open:not(:first-child) {
    display: block;
    padding-left: 25px;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .block.table.row-header td {
    padding: 15px;
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: none;
  }

  .block.table.row-header td:first-child p {
    border-right: 0;
    padding: 0;
    font-family: var(--ff-body-bold);
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    width: 90%;
    display: inline-block;
    line-height: 20px;
  }
}
