/* All trucks styles */

.v2-all-trucks-container .default-content-wrapper {
  margin-top: 35px;
}

.v2-all-trucks__title {
  font-family: var(--ff-headline-medium);
  letter-spacing: -.02em;
  margin-bottom: 24px;
  padding-top: 42px;
}

.redesign-v2 .section.v2-all-trucks-container .default-content-wrapper h1 + p {
  letter-spacing: .01rem;
  margin-bottom: 30px;
}

.v2-all-trucks .v2-all-trucks__button-list {
  z-index: 2;
  background: var(--c-primary-white);
  width: 100%;
  list-style: none;
  padding: 0;
  margin: 0;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  display: none;
}

.v2-all-trucks__segment-button {
  background: transparent;
  color: var(--c-primary-black);
  text-transform: capitalize;
  font: var(--body-font-size-xxs)/1.6 var(--ff-body-bold);
  padding: 14px 8px 14px 24px;
  margin: 0;
  text-align: left;
  width: 100%;
}


/* Trucks */
.v2-all-trucks-container div.v2-all-trucks-wrapper {
  padding: 0;
}

.v2-all-trucks .v2-all-trucks__truck {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
}

.v2-all-trucks .v2-all-trucks__truck:first-of-type {
  padding-top: 48px;
}

.v2-all-trucks .v2-all-trucks__truck:nth-of-type(odd) {
  background-color: var(--c-tertiary-light-cool-gray);
}

.v2-all-trucks .v2-all-trucks__truck:nth-of-type(even) {
  background-color: var(--c-secondary-light-gray);
}

.odd-row {
  background-color: var(--c-tertiary-light-cool-gray) !important;
}

.even-row {
  background-color: var(--c-secondary-light-gray) !important;
}

.v2-all-trucks .v2-all-trucks__truck .v2-all-trucks__truck-image {
  width: 100%;
}

.v2-all-trucks .v2-all-trucks__truck picture:last-child img {
  opacity: 0;
}

.v2-all-trucks .v2-all-trucks__truck > div:first-child {
  position: relative;
}

.v2-all-trucks .v2-all-trucks__truck picture:first-child img:hover {
  cursor: pointer;
}

.v2-all-trucks .v2-all-trucks__truck > div:first-child picture:first-child img {
  z-index: 1;
  position: relative;
  top: 0;
  left: 0;
  margin: 70px 0;
}

.v2-all-trucks .v2-all-trucks__truck > div:first-child picture:last-child img {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  margin: 70px 0;
}

.v2-all-trucks .v2-all-trucks__truck > div:first-child:hover picture:last-child img {
  opacity: 1;
  transition: opacity .2s linear;
  position: absolute;
  top: 0;
  left: 0;
}

.v2-all-trucks .v2-all-trucks__truck-info h3 {
  font-size: var(--headline-1-font-size);
  line-height: 1.15;
}
/* stylelint-disable-next-line no-descending-specificity */
.v2-all-trucks .v2-all-trucks__truck-info > p {
  letter-spacing: .01em;
  margin-top: 12px;
  text-wrap: pretty;
}

.v2-all-trucks .v2-all-trucks__truck-info .button-container {
  display: flex;
  float: left;
  width: 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.v2-all-trucks .v2-all-trucks__truck-info .button-container .button {
  width: 100%;
  margin-top: 0;
  margin-bottom: 0;
}

.v2-all-trucks .v2-all-trucks__truck-info .button-container .button--primary {
  margin-right: 8px;
}

.v2-all-trucks .v2-all-trucks__truck-info .button-container .button--secondary {
  margin-left: 8px;
}

/* Segment list */

.v2-all-trucks__segment-list {
  list-style: none;
  display: flex;
  padding-left: 0;
  text-transform: uppercase;
}

.v2-all-trucks__segment-list li {
  position: relative;
  padding: 0 16px;
  font-size: var(--superscript-font-size);
  line-height: 1.2;
  letter-spacing: .1em;
}

.v2-all-trucks__segment-list li:first-child {
  padding-left: 0;
}

.v2-all-trucks__segment-list li::after {
  content: '';
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 11px;
  background: var(--c-secondary-steel);
}

/* Design style for drop down */
.v2-all-trucks__segment-list li:last-child::after {
  display: none;
}

.v2-all-trucks__selected-item-wrapper {
  background: none;
  border: 0;
  color: var(--c-primary-black);
  cursor: pointer;
  display: flex;
  margin: 0;
  padding: 14px 24px;
  width: 100%;
  box-shadow: 0 8px 8px 0 rgb(0 0 0 / 8%);
  max-height: 48px;
  align-items: center;
  justify-content: space-between;
}

.v2-all-trucks__dropdown--open .v2-all-trucks__selected-item-wrapper,
.v2-all-trucks__segment-button:hover,
.v2-all-trucks__segment-button:focus,
.v2-all-trucks__segment-button.active {
  background-color: var(--c-tertiary-light-cool-gray);
}

.v2-all-trucks__selected-item {
  text-transform: capitalize;
  font: var(--body-font-size-xxs)/1.6 var(--ff-body-bold);
}

.v2-all-trucks__svg-wrapper {
  padding: 16px;
  width: 48px;
  height: 48px;
}

.v2-all-trucks__selected-item-wrapper svg {
  --color-icon: var(--c-accent-red);

  width: 16px;
  height: 16px;
  transition: transform var(--duration-small) var(--easing-standard);
}

.v2-all-trucks__dropdown--open .v2-all-trucks__button-list {
  display: block;
}

.v2-all-trucks__dropdown--open .v2-all-trucks__selected-item-wrapper svg {
  transform: rotate(180deg);
}

/* Design style for drop down end here */

/* Styles for > 744px viewport width */
@media (min-width: 744px) {
  .v2-all-trucks-wrapper {
    margin: auto;
    position: relative;
  }

  .v2-all-trucks::before {
    content: '';
    height: 1px;
    width: 100%;
    max-width: 1440px;
    position: absolute;
    top: -1px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--c-secondary-silver);
  }


  .v2-all-trucks .v2-all-trucks__truck {
    min-height: 386px;
    max-height: 387px;
    display: flex;
    flex-direction: row;
    max-width: 1440px;
    margin: auto;
    padding: 0;
  }

  .v2-all-trucks .v2-all-trucks__truck:first-of-type {
    border-top: 1px solid var(--c-secondary-silver);
    padding-top: 0;
  }

  .v2-all-trucks-container h1 + p {
    margin-bottom: 50px;
  }

  .v2-all-trucks .v2-all-trucks__truck .v2-all-trucks__truck-image {
    flex: 0.6;
  }

  .v2-all-trucks .v2-all-trucks__truck .v2-all-trucks__truck-image picture:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
  }

  .v2-all-trucks .v2-all-trucks__truck .v2-all-trucks__truck-image picture:last-child {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
  }

  .v2-all-trucks .v2-all-trucks__truck > div:first-child picture:first-child img,
  .v2-all-trucks .v2-all-trucks__truck > div:first-child picture:last-child img {
    margin: 0;
  }

  .v2-all-trucks .v2-all-trucks__truck > div:first-child:hover picture:last-child img {
    position: relative;
  }


  .v2-all-trucks .v2-all-trucks__button-list {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1040px;
    margin: auto;
    box-shadow: none;
    justify-content: space-between;
  }

  .v2-all-trucks__segment-button {
    height: 100%;
    text-align: center;
    padding: 14px 0;
    position: relative;
  }

  .v2-all-trucks__segment-button::after {
    bottom: 0;
    content: '';
    display: block;
    height: 4px;
    position: absolute;
    transition: background-color var(--duration-small) var(--easing-standard);
    width: 100%;
  }

  .v2-all-trucks__segment-button.active::after,
  .v2-all-trucks__segment-button:hover::after,
  .v2-all-trucks__segment-button:focus::after {
    background-color: var(--c-accent-red);
  }

  .v2-all-trucks__segment-button:hover,
  .v2-all-trucks__segment-button:focus,
  .v2-all-trucks__segment-button.active {
    background-color: transparent;
  }

  .v2-all-trucks .v2-all-trucks__truck-info {
    flex: 0.4;
    padding: 100px 5px 0 45px;
  }

  .v2-all-trucks .v2-all-trucks__truck-info .button-container {
    width: auto;
  }

  .v2-all-trucks__selected-item-wrapper { 
    display: none;
  }

  .v2-all-trucks__dropdown {
    padding: 10px 16px;
  }
}

@media (min-width: 1200px) {
  .v2-all-trucks .v2-all-trucks__truck-info > p {
    width: 61.8%;
  }
}
