.embed.embed-full-width {
  width: 100%;
  position: relative;
  cursor: pointer;
}

.embed-video {
  margin: auto;
}

.embed-video-element {
  aspect-ratio: 16/9;
  width: 100%;
}

.embed .video-icon-wrapper {
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .embed-video {
    width: 726px;
  }

  .embed.embed-full-width .embed-video {
    width: 100%;
  }
}

@media screen and (min-width: 1300px) {
  .embed-video {
    width: 1170px;
  }

  .embed.embed-full-width .embed-video {
    width: 100%;
  }
}

/* Video in magazine styling */
.magazine .embed-video {
  width: unset;
  margin-left: 4px;
}

.magazine .low-resolution-banner {
  font-size: var(--body-font-size-xs);
  margin: 0;
}