.redesign-v2 .section .v2-pencil-promo-wrapper:not(.full-width) {
  padding: 0 16px;
}

.v2-pencil-promo {
  --text-color: var(--c-primary-white);
}

/* Generic block styles */
.v2-pencil-promo.v2-pencil-promo__promo-banner--with-image {
  margin: 24px 0;
}

.v2-pencil-promo:hover {
  cursor: pointer;
}

.v2-pencil-promo p:hover {
  color: var(--text-color);
}

.v2-pencil-promo__content a {
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--c-accent-red);
  text-underline-offset: 8px;
}

.v2-pencil-promo__promo-banner a {
  text-decoration: none;
}

.v2-pencil-promo__content a:focus {
  outline: 0;
}

.v2-pencil-promo__content a:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 6px;
}

.v2-pencil-promo__promo-banner:hover a,
.v2-pencil-promo__promo-banner a:hover {
  text-decoration: underline;
}

.v2-pencil-promo__pencil-banner:hover .v2-pencil-promo__content a {
  text-decoration-color: var(--text-color);
}

.v2-pencil-promo__image {
  display: block;
  width: 100%;
}

.v2-pencil-promo__pencil-banner .v2-pencil-promo__content-wrapper {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* Pencil banner styles */
.v2-pencil-promo__pencil-banner {
  background: var(--c-primary-black);
  color: var(--text-color);
}

.v2-pencil-promo__pencil-banner .v2-pencil-promo__content {
  padding: 30px 16px;
  width: 100%;
  max-width: 512px;
}

.v2-pencil-promo__pencil-banner .v2-pencil-promo__content p {
  display: inline;
  font: var(--headline-4-font-size)/117% var(--ff-subheadings-medium);
  letter-spacing: .25px;
}

.v2-pencil-promo__pencil-banner .icon svg {
  --color-icon: var(--text-color);

  position: absolute;
  margin-left: 10px;
  width: 24px;
  height: 24px;
}

.v2-pencil-promo--pencil-banner-copper {
  background: var(--c-accent-copper);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-pencil-promo--pencil-banner-copper .v2-pencil-promo__content a {
  text-decoration-color: var(--text-color);
}

.v2-pencil-promo--pencil-banner-copper:hover .v2-pencil-promo__content a {
  text-decoration-color: var(--c-primary-black);
}

/* Promo banner styles */
.v2-pencil-promo__promo-banner .v2-pencil-promo__content-wrapper {
  width: 100%;
  height: 100%;
  background: var(--c-primary-gold);
}

.v2-pencil-promo__promo-banner .v2-pencil-promo__content {
  position: relative;
  display: flex;
  justify-content: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
  background: var(--c-secondary-graphite);
  margin-bottom: 24px;
}

.v2-pencil-promo__promo-banner .v2-pencil-promo__content > p {
  padding: 12px 92px 12px 16px;
  font: var(--headline-5-font-size)/var(--headline-5-line-height) var(--ff-subheadings-medium);
  max-width: 433px;
  margin: 0;
  color: var(--text-color);
}

.v2-pencil-promo__promo-banner .icon {
  position: absolute;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  height: 76px;
  background: var(--color-icon-accent);
  transition: background-color var(--duration-small) var(--easing-standard);
}

.v2-pencil-promo__promo-banner:hover .icon {
  background: var(--button-secondary-gold-hover);
}

.v2-pencil-promo__promo-banner .icon svg {
  --color-icon: var(--text-color);
  
  width: 24px;
  height: 24px;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-pencil-promo--promo-banner-copper .icon {
  background: var(--c-accent-copper);
}

.v2-pencil-promo--promo-banner-copper:hover .icon {
  background: #ad7a5d;
}

@media (min-width: 744px) {
  .v2-pencil-promo__promo-banner {
    position: relative;
  }

  .v2-pencil-promo__promo-banner .v2-pencil-promo__content > p {
    font-size: var(--headline-4-font-size);
  }

  .v2-pencil-promo__promo-banner .v2-pencil-promo__content-wrapper {
    position: absolute;
    bottom: 0;
    max-height: 76px;
  }

  .v2-pencil-promo__promo-banner .v2-pencil-promo__content,
  .v2-pencil-promo__promo-banner .v2-pencil-promo__content > p,
  .v2-pencil-promo__promo-banner .v2-pencil-promo__content-wrapper {
    background: none;
  }
}

@media (min-width: 1200px) {
  .v2-pencil-promo__pencil-banner .v2-pencil-promo__content {
    padding: 40px 0;
  }

  .redesign-v2 .section .v2-pencil-promo-wrapper:not(.full-width) {
    padding: 0;
  }
}
