.v2-feature-carousel {
  --v2-feature-carousel-content-gap: 12px;
  --v2-feature-carousel-size: 512px;

  /* TODO: utilise section--with-background instead */
  --card-background: var(--c-primary-white);
}

.v2-feature-carousel__arrowcontrols, 
.v2-feature-carousel__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.section.v2-feature-carousel-container .v2-feature-carousel-wrapper {
  padding: 0;
  max-width: 100%;
  background-color: var(--c-primary-black);
}

.v2-feature-carousel__image-wrapper picture img {
  aspect-ratio: 1/1;
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.v2-feature-carousel__list-container {
  padding: 40px 16px;
  position: relative;
  background: var(--card-background);
  color: var(--card-text);
}

.v2-feature-carousel__arrowcontrols {
  position: absolute;
  right: 0;
  top: 0;
}

.v2-feature-carousel__button,
.v2-feature-carousel__button:focus {
  width: 60px;
  height: 60px;
  padding: 15px 10px;
  margin: 0;
  background-color: var(--c-primary-gold);
  border: 0;
}

.v2-feature-carousel__button:disabled,
.v2-feature-carousel__button:disabled:hover {
  --color-icon: var(--button-disabled-color);

  background-color: var(--button-secondary-gold-disabled);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-feature-carousel__button:hover {
  background-color: var(--button-secondary-gold-hover);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-feature-carousel__button:active {
  background-color: var(--button-secondary-gold-pressed);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-feature-carousel__button:focus-visible {
  outline: 2px solid var(--border-focus);
}

.v2-feature-carousel__button svg {
  width: 24px;
  height: 24px;
}

.v2-feature-carousel__button-prev svg {
  rotate: 180deg;
}

.v2-feature-carousel__list {
  flex-direction: row;
  overflow: scroll;
  gap: 16px;
  scroll-behavior: smooth;
  scroll-snap-align: start;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.v2-feature-carousel__list-item {
  display: flex;
  gap: var(--v2-feature-carousel-content-gap);
  flex-direction: column;
  flex: 0 0 100%;
  scroll-snap-align: start;
  justify-content: center;
}

.v2-feature-carousel__list::-webkit-scrollbar {
  display: none;
}

.v2-feature-carousel__title {
  font: var(--headline-1-font-size)/var(--headline-1-line-height) var(--ff-headline-medium);
  letter-spacing: var(--headline-1-letter-spacing);
  margin: 0;
}

.v2-feature-carousel__list-item p,
.v2-feature-carousel__list-item a.button {
  margin: 0;
}

@media (min-width: 1200px) {
  .v2-feature-carousel {
    --v2-feature-carousel-content-gap: 24px;
    --v2-feature-carousel-padding: calc((60% - 512px)/2); /* calculate padding based on parents width */

    display: flex;
    flex-direction: row-reverse;
  }

  .v2-feature-carousel__image-wrapper {
    width: 60%;
  }
  
  .v2-feature-carousel__list-container {
    padding: 0;
    width: var(--v2-feature-carousel-size);
    height: var(--v2-feature-carousel-size);
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: auto;
  }

  .v2-feature-carousel__list {
    overflow: hidden;
    scroll-snap-type: none;
    flex: 1;
    align-items: center;
    gap: 0;
  }
  
  .v2-feature-carousel__list-item {
    padding-left: 56px;
    padding-right: 56px;
  }

  .v2-feature-carousel__list-wrapper {
    left: calc((100% - var(--wrapper-width))/2);
    position: absolute;
    padding-top: var(--v2-feature-carousel-padding);
    padding-bottom: var(--v2-feature-carousel-padding);
  }

  .v2-feature-carousel__arrowcontrols {
    position: unset;
    align-self: flex-end;
  }
}
