.v2-footer {
  background: var(--c-primary-black);
  color: var(--c-secondary-silver);
}

.v2-footer svg {
  width: 1em;
  height: 1em;
}

/* General ul styles */
.v2-prefooter ul,
.v2-footer-menu__column ul,
.v2-footer-legal ul,
.v2-footer-menu__socialmedia,
.v2-footer-truck-list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Apply max width to all the necessary footer items */
.v2-prefooter ul,
.v2-footer-truck-list__wrapper,
.v2-footer-legal ul,
.v2-footer-menu {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* Prefooter */

/* To be done Avinash in desktop */
.v2-prefooter {
  background-color: var(--c-primary-gold);
}

.v2-prefooter ul {
  padding: 8px 16px;
}

.v2-prefooter li {
  border-bottom: 1px solid var(--c-primary-black);
}

.v2-prefooter li:last-child {
  border-bottom: 0;
}

.v2-prefooter a {
  font-size: 18px;
  font-family: var(--ff-subheadings-medium);
  line-height: 140%;
  letter-spacing: 0.36px;
  color: var(--c-primary-black);
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.v2-prefooter .icon-arrow-right {
  width: 28px;
  height: 28px;
  display: block;
}

/* Truck list menu */

/* To be done Avinash */
.v2-footer-truck-list {
  background-color: var(--c-secondary-graphite);
}

.v2-footer-truck-list__title {
  margin: 0 auto;
  padding: 24px 32px;
  max-width: var(--wrapper-width);
  font-family: var(--ff-body);
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  display: flex;
}

.v2-footer-truck-list__title .icon-dropdown-caret {
  margin-left: auto;
  transition: transform var(--duration-medium) cubic-bezier(0.45, 0, 0.125, 1);
}

.v2-footer-truck-list.expand .icon-dropdown-caret {
  transform: rotate(-180deg);
}

.v2-footer-truck-list__items {
  transition: 300ms max-height ease;
  will-change: max-height;
  overflow: hidden;
  max-height: 0;
}

.v2-footer-truck-list__items a {
  display: flex;
  padding: 0 16px 16px;
  color: var(--c-primary-white);
  font-family: var(--ff-body);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  letter-spacing: 0.16px;
  justify-content: center;
}

/* Menu wrapper */
.v2-footer-menu {
  padding: 40px 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 40px 0;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    'logo'
    'menu'
    'newsletter'
    'social';
}

/* Logo */
.v2-footer-menu__logo {
  grid-area: logo;
}

/* Menu */
.v2-footer-menu__columns {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 16px;
}

.v2-footer-menu__column {
  width: calc(50% - 20px);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-footer-menu__column a {
  color: var(--c-secondary-silver);
  font-family: var(--ff-body);
  font-size: var(--body-2-font-size);
  line-height: var(--body-2-line-height);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-footer-menu__column a:hover {
  text-decoration: underline;
}

/* Newsletter */
.v2-footer-newsletter {
  grid-area: newsletter;
}

.v2-footer-newsletter__title {
  font-family: var(--ff-body);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.92px;
  margin-bottom: 12px;
}

/* eloqua footer form styles - START */
.v2-footer-newsletter .eloqua-form {
  max-width: 1200px;
}

.v2-footer-newsletter .eloqua-form p {
  font-size: 11px;
  font-family: var(--ff-body);
}

.v2-footer-newsletter .elq-form .field-style {
  margin: 0;
}

.v2-footer-newsletter .elq-form .item-padding {
  padding: 0;
}

.v2-footer-newsletter .elq-form input[type='text'] {
  background-color: var(--c-primary-white);
  padding: 15px 10px;
  border: none;
  max-width: 320px;
  font-family: var(--ff-body);
  font-size: 13px;
  line-height: 16px;
  color: var(--c-primary-black);
}

.v2-footer-newsletter .elq-form input[type='text']::placeholder {
  color: var(--c-primary-black);
}

.v2-footer-newsletter .elq-form .checkbox-label {
  font-size: 13px;
  font-family: var(--ff-body);
  bottom: 0;
  padding-left: 0;
}

.v2-footer-newsletter .elq-form input.submit-button {
  color: var(--c-primary-black);
  background: transparent;
  font-size: 20px !important;
  line-height: 30px;
  height: auto;
  cursor: pointer;
  margin: 0;
  padding: 5px 10px;
}

.v2-footer-newsletter .eloqua-form .elq-form .email-and-submit-container {
  display: flex;
  align-items: stretch;
  position: relative;
}

.v2-footer-newsletter .eloqua-form .elq-form .email-and-submit-container input[type='text'] {
  padding-right: 40px;
  height: 48px;
}

.v2-footer-newsletter .elq-form .loader {
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translate(0, 50%);
  border-top: 3px solid #212121;
  margin-bottom: -12px;
  background: #212121;
}

.v2-footer-newsletter .eloqua-form input[type='submit']:hover {
  color: var(--c-primary-black);
}

.v2-footer-newsletter .eloqua-form .elq-form .email-and-submit-container input[type='submit'] {
  height: 48px !important;
  width: 48px !important;
  background: var(--c-primary-gold) url("../../icons/arrow-right.svg") no-repeat center;
}

.v2-footer-newsletter .eloqua-form .elq-form .email-and-submit-container input[type='submit']:hover {
  background-color: var(--button-secondary-gold-hover);
}

.v2-footer-newsletter .eloqua-form .elq-form .email-and-submit-container input[type='submit']:active {
  background-color: var(--button-secondary-gold-pressed);
}

.v2-footer-newsletter .checkbox-span {
  position: relative;
}

.v2-footer-newsletter .checkbox-span input[type='checkbox'][id] {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 0;
  padding: 0;
}

.v2-footer-newsletter .checkbox-span label[for] {
  position: relative;
  margin-left: 0;
  white-space: break-spaces;
  cursor: pointer;
}

.v2-footer-newsletter .checkbox-span label[for]::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: solid 2px var(--c-secondary-dark-gold);
  margin-right: 10px;
  position: relative;
  top: 4px;
  background: var(--c-primary-black);
}

.v2-footer-newsletter .checkbox-span input:checked~label[for]::after {
  content: "\f00c";
  font-family: var(--ff-fontawesome);
  color: var(--c-secondary-dark-gold);
  position: absolute;
  font-size: 18px;
  left: 1px;
  top: -6px;
  line-height: 18px;
}

.v2-footer-newsletter .confirm-checkbox {
  user-select: none;
  cursor: pointer;
  opacity: 0;
  transition: opacity 1s;
  visibility: hidden;
}

.v2-footer-newsletter .confirm-checkbox.show {
  opacity: 1;
  visibility: visible;
}

/* eloqua footer form styles - END */

/* Social media */
.v2-footer-menu__socialmedia {
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: social;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-footer-menu__socialmedia a {
  display: block;
}

.v2-footer-menu__socialmedia svg {
  width: 24px;
  height: 24px;
}

/* Legal */

/* To be done Avinash */
.v2-footer-legal ul {
  border-top: 1px solid var(--c-tertiary-cool-gray);
  margin: 0 16px;
  padding: 40px 16px 40px 0;
  display: flex;
  justify-content: flex-start;
  gap: 8px 24px;
  flex-wrap: wrap;
}

.v2-footer-legal li {
  font-size: 13px;
}

.v2-footer-legal a {
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--c-secondary-silver);
}

@media (min-width: 1200px) {
  /* Prefooter */
  .v2-prefooter ul {
    display: flex;
    padding: 28px 0 24px;
  }

  .v2-prefooter li {
    align-items: center;
    border-bottom: 0;
    border-right: 1px solid var(--c-primary-black);
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .v2-prefooter li:last-child {
    border-right: 0;
  }

  .v2-prefooter a {
    font-size: 24px;
    gap: 12px;
    border-bottom: none;
    justify-content: center;
    letter-spacing: 0.48px;
    padding: 15px 0;
  }

  .v2-prefooter li:first-child a { margin-right: auto; }
  .v2-prefooter li:last-child a { margin-left: auto;  }

  /* Truck list menu */

  .v2-footer-truck-list {
    padding: 24px 0;
  }

  .v2-footer-truck-list__wrapper {
    padding-left: 30px;
    padding-right: 30px;
    margin: auto;
    max-width: 1100px;
    display: flex;
    align-items: baseline;
  }

  .v2-footer-truck-list__title {
    font-family: var(--ff-subheadings-medium);
  }

  .v2-footer-truck-list__items { 
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 44px;
    max-height: 100%;
    overflow: auto;
  }

  .v2-footer-truck-list__items a {
    padding: 0;
  }

  .icon-dropdown-caret {
    display: none;
  }

  .v2-footer-menu {
    padding: 96px 0 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      'logo menu newsletter'
      'social menu newsletter';
  }

  /* Logo */
  .v2-footer-menu__logo {
    margin-top: 10px;
  }

  /* Menu */
  .v2-footer-menu__columns {
    flex-wrap: nowrap;
  }

  .v2-footer-menu__column {
    width: 160px;
  }

  /* Legal */
  .v2-footer-legal ul {
    margin: 0 auto;
  }
}