:root {
  --truck-lineup-img-width: 60%;
}

@keyframes truck-entry {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  100% {
    transform: translateX(0);
  }
}

/* Full width block */
main .section.v2-truck-lineup-container .v2-truck-lineup-wrapper {
  margin: 0;
  padding: 0;
  width: 100%;
  max-width: none;
}

main .section.v2-truck-lineup-container {
  padding: 0;
}

/* End Full width block */

.v2-truck-lineup {
  display: flex;
  flex-direction: column;
}

.v2-truck-lineup__images-container,
.v2-truck-lineup__description-container {
  display: flex;
  flex-flow: row nowrap;
  padding-left: 0;
  margin: 0;
}

.v2-truck-lineup__description-container {
  order: 2;
  overflow: hidden;
}

.v2-truck-lineup__images-container {
  align-items: flex-end;
  overflow: scroll hidden;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}

.v2-truck-lineup__images-container::-webkit-scrollbar {
  display: none;
}

.v2-truck-lineup__image-item {
  flex: none;
  scroll-snap-align: center;
  text-align: center;
  width: var(--truck-lineup-img-width);
}

.v2-truck-lineup__image-item picture {
  display: block;
  animation-duration: 1s;
  animation-delay: 0.5s;
  animation-name: truck-entry;
  animation-timing-function: ease-in;
}

.v2-truck-lineup__image-item:first-child {
  margin-left: calc(100% - var(--truck-lineup-img-width)/2);
}

.v2-truck-lineup__images-container::after {
  content: '';
  display: block;
  flex: 0 0 calc(100% - var(--truck-lineup-img-width)/2);
}

.v2-truck-lineup__image-item img {
  width: 100%;
  object-fit: contain;
  max-height: 570px;
}

.v2-truck-lineup__content {
  width: 90%;
  margin: 0 auto 32px;
  text-align: center;
}

.v2-truck-lineup__desc-item {
  color: var(--text-color);
  flex: none;
  opacity: 0;
  width: 100%;

  /* fadeout */
  transition: opacity 0.3s cubic-bezier(0, 0, 0, 1);
}

.v2-truck-lineup__desc-item.active {
  opacity: 1;
  transition: opacity 0.5s cubic-bezier(0, 0, 0, 1) 0.5s;
}

.v2-truck-lineup__text {
  margin: 0 auto;
  max-width: 400px;
  text-wrap: balance;
}

.v2-truck-lineup__title {
  font-family: var(--ff-headline-medium);
  font-size: 45px;
  line-height: 117%;
  letter-spacing: -0.9px;
  margin: 0;
}

p.v2-truck-lineup__description {
  color: var(--c-grey-800);
}

.v2-truck-lineup__buttons-container {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  gap: 16px;
}

.v2-truck-lineup__buttons-container a.button,
.v2-truck-lineup__buttons-container .button-container {
  margin: 0;
}

/* Navigation */
.v2-truck-lineup__navigation::-webkit-scrollbar {
  display: none;
}

ul.v2-truck-lineup__navigation {
  display: flex;
  flex-flow: row nowrap;
  overflow: auto;
  list-style: none;
  margin: 32px 0;
  padding: 2px 32px;
  order: 0;
  position: relative;
}

.v2-truck-lineup__navigation-line {
  position: absolute;
  bottom: 3px;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--c-primary-black);
  transition: all var(--duration-small) var(--easing-standard);
  margin: 0;
}

.v2-truck-lineup__navigation::before,
.v2-truck-lineup__navigation::after {
  content: '';
  margin: auto;
}

.v2-truck-lineup__navigation-item {
  border-bottom: 1px solid var(--c-primary-black);
}

.v2-truck-lineup__navigation-item.active button,
.v2-truck-lineup__navigation-item button:hover {
  color: var(--c-primary-black);
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-truck-lineup__navigation-item button {
  background: 0 0;
  border: none;
  color: var(--c-secondary-steel);
  font-family: var(--ff-subheadings-medium);
  font-size: var(--headline-4-font-size);
  line-height: var(--headline-4-line-height);
  margin: 0 0 0 20px;
  padding: 14px 0;
  text-wrap: nowrap;
}

.v2-truck-lineup__navigation-item:first-child button {
  margin-left: 0;
}

/* Arrow controls */
.v2-truck-lineup__slider-wrapper {
  position: relative;
  order: 1;
}

.v2-truck-lineup__arrow-controls {
  display: none;
  margin: 0;
  opacity: 0;
  transition: opacity var(--duration-small) var(--easing-standard);
}

.v2-truck-lineup__slider-wrapper:hover .v2-truck-lineup__arrow-controls {
  opacity: 1;
}

.v2-truck-lineup__arrow-controls li {
  align-items: center;
  display: flex;
  height: 100%;
  left: 10%;
  position: absolute;
  top: 0;
}

.v2-truck-lineup__arrow-controls li:last-child {
  left: auto;
  right: 10%;
}

/* stylelint-disable-next-line no-descending-specificity */
.v2-truck-lineup__arrow-controls button {
  background-color: var(--c-primary-white);
  border: 1px solid var(--c-primary-black);
  color: var(--c-primary-black);
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 16px;
  position: relative;
}

.v2-truck-lineup__arrow-controls button:hover {
  background-color: #F1F1F1;
  border-color: #A7A8A9;
}

.v2-truck-lineup__arrow-controls button:active {
  background-color: #E1DFDD;
  border-color: #D9D9D9;
}

.v2-truck-lineup__arrow-controls button:focus {
  outline: 2px solid var(--border-focus);
}

@media screen and (min-width: 744px) {
  .v2-truck-lineup__arrow-controls {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  :root {
    --truck-lineup-img-width: 60%;
  }

  .v2-truck-lineup__image-item img {
    max-height: none;
  }

  .v2-truck-lineup__content {
    max-width: var(--truck-lineup-img-width);
  }

  .v2-truck-lineup__content .default-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .v2-truck-lineup__text {
    flex-basis: 60%;
    text-align: left;
    margin: 0;
  }

  .v2-truck-lineup__buttons-container {
    flex-direction: row;
    margin-top: 0;
  }
}
