.section.v2-image-banner-container {
  margin-bottom: 48px;
  margin-top: 48px;
}

.v2-image-banner {
  background-size: cover;
  background-position: center;
  max-height: 160px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.v2-image-banner picture {
  display: none;
}

.v2-image-banner--16-9 {
  aspect-ratio: 16/9;
}

.v2-image-banner--4-3 {
  aspect-ratio: 4/3;
  background-attachment: fixed;
}

@media (min-width: 1200px) {
  .section.v2-image-banner-container {
    margin-bottom: 64px;
    margin-top: 64px;
  }

  .v2-image-banner {
    max-height: 360px;
  }
}