.recent-articles-container {
  margin-bottom: 80px;
}

.recent-articles-section-title {
  font-family: var(--emphasis-ff-bold);
  font-size: var(--heading-4-mobile-size-s);
  border-bottom: 3px solid var(--secondary-accent-copper);
  margin: 55px 0 0;
  padding-bottom: 5px;
}

.recent-articles-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: var(--subheadings-ff-medium);
  list-style: none;
  margin: 0;
  padding: 0;
}

.recent-articles-first-item {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  height: auto;
}

.recent-articles-first-item a {
  color: var(--primary-black);
}
  
.recent-articles-first-item .recent-articles-first-category {
  position: relative;
  font-size: var(--heading-font-size-xxs);
  background: var(--secondary-dark-gold);
  color: var(--primary-white);
  width: fit-content;
  padding: 5px 8px;
  margin-top: 8px;
}

.recent-articles-first-item .recent-articles-first-title {
  font-family: var(--emphasis-ff-bold);
  font-size: var(--heading-4-mobile-size-s);
  line-height: 32px;
  word-wrap: break-word;
  height: auto;
  margin-top: 20px;
}

.recent-articles-first-item .recent-articles-first-subtitle {
  font-size: var(--body-font-size-s);
  overflow: hidden;
  text-overflow: ellipsis;
  height: auto;
  width: 80%;
  margin: 15px 0 0;
}

.recent-articles-first-item .recent-articles-first-link {
  font-size: var(--body-font-size-xs);
  text-transform: uppercase;
  height: 31px;
  margin: 20px 0 30px;
}

.recent-articles-first-item .recent-articles-first-link::after {
  content: url('../../media/arrow-B.png');
  margin-left: 10px;
}

.recent-articles-rest-item {
  display: flex;
  flex-direction: row;
  margin: 30px 0 0;
}

.recent-articles-rest-image {
  max-width: 150px;
}

.recent-articles-rest-image img {
  display: block;
  height: 100px;
  object-fit: cover;
}

.recent-articles-rest-item .recent-articles-rest-title {
  font-family: var(--emphasis-ff-bold); 
  font-size: var(--heading-font-size-xs);
  color: var(--primary-black);
  font-weight: bolder;
  word-wrap: break-word;
  width: 90%;
  cursor: pointer;
  margin: 5px 0 0 20px;
}
