.v2-cards {
  --card-container-gap: 24px;

  display: flex;
  flex-direction: column;
  gap: var(--card-container-gap);
  justify-content: center;
  max-width: var(--wrapper-width);
  margin: auto;
}

.v2-cards__card-item {
  background: var(--card-background);
  color: var(--card-text);
}

.v2-cards--no-background .v2-cards__card-item {
  --card-background: transparent;
}

.v2-cards__picture-wrapper {
  padding: 0;
}

.v2-cards__text-wrapper {
  padding: 24px;
}

.v2-cards__text-wrapper ul,
.v2-cards__text-wrapper {
  display: flex;
  flex-direction: column;
}

.v2-cards--no-background .v2-cards__text-wrapper {
  padding: 40px 0 0;
}

.v2-cards__picture {
  display: flex;
}

.v2-cards__image {
  background: var(--media-background);
  aspect-ratio: 16/9;
  width: 100%;
  object-fit: cover;
}

.v2-cards--image-aspect-ratio-7-5 .v2-cards__image {
  aspect-ratio: 7/5;
}

.v2-cards__heading {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--headline-5-font-size);
  line-height: var(--headline-5-line-height);
  margin: 0 0 7px;
}

.v2-cards--large-heading .v2-cards__heading {
  font-size: var(--headline-4-font-size);
  line-height: var(--headline-4-line-height);
}

.v2-cards__text-wrapper p {
  margin: 0;
  font-family: var(--ff-body);
  font-size: var(--body-1-font-size);
  font-style: normal;
  line-height: var(--body-1-line-height);
  letter-spacing: 0.16px;
}

.v2-cards__text-wrapper strong {
  font-family: var(--ff-body-bold);
}

.v2-cards__text-wrapper li strong {
  margin-right: 12px;
}

.v2-cards__text-wrapper li::before {
  margin-right: 5px;
  content: url('../../icons/bullet.svg');
}

.v2-cards__text-wrapper .v2-cards__button-container {
  margin-top: 16px;
}

.v2-cards__button-container .v2-cards__button:any-link {
  align-items: flex-start;
}

.v2-cards__button-container .icon {
  stroke: currentcolor;
  width: 16px;
  height: 16px;
}

.v2-cards__button-container .icon svg {
  width: 16px;
  height: 16px;
}

/* 4 cards row variant */
.v2-cards--4-cards-row {
  --card-container-padding: 24px;
  --card-background: var(--c-primary-white);
}

.v2-cards--4-cards-row .v2-cards__text-wrapper {
  padding: 16px 0 0;
}

.v2-cards--4-cards-row .v2-cards__button-container {
  margin-top: 0;
}

.v2-cards--4-cards-row .v2-cards__button-container .v2-cards__button:any-link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--card-container-padding);
  font-size: var(--body-font-size-m);
}

.v2-cards--4-cards-row .v2-cards__button-container .icon,
.v2-cards--4-cards-row .v2-cards__button-container svg {
  width: 24px;
  height: 24px;
}

.v2-cards--4-cards-row .v2-cards__button-container svg {
  stroke-width: 0.1;
}

/* 2 cards row variant */
.v2-cards--2-cards-row .v2-cards__image {
  aspect-ratio: 7/5;
}

/* spaced text variant */
.v2-cards.v2-cards--spaced .v2-cards__text-wrapper,
.v2-cards.v2-cards--spaced .v2-cards__text-wrapper ul {
  gap: 12px;
}

.v2-cards.v2-cards--spaced .v2-cards__heading {
  font-size: var(--headline-4-font-size);
  line-height: var(--headline-4-line-height);
}

.v2-cards.v2-cards--spaced .v2-cards__text-wrapper p,
.v2-cards.v2-cards--spaced .v2-cards__text-wrapper li {
  display: inline-flex;
  line-height: 150%;
  letter-spacing: 0.16px;
}

.v2-cards.v2-cards--spaced .v2-cards__text-wrapper .v2-cards__button-container {
  margin-top: 12px;
}

/* with border variant */
.v2-cards.v2-cards--with-border .v2-cards__card-item {
  border: 1px solid var(--c-tertiary-light-cool-gray);
}

.v2-cards.v2-cards--with-border .v2-cards__image {
  aspect-ratio: 4/3;
}

.v2-cards.v2-cards--with-border .v2-cards__text-wrapper {
  padding: 16px;
}

.v2-cards.v2-cards--with-border .v2-cards__heading {
  margin-bottom: 4px;
} 

.v2-cards.v2-cards--with-border .v2-cards__text-wrapper ul {
  gap: 8px;
}

/* with arrow variant */
.v2-cards.v2-cards--with-arrow .v2-cards__heading {
  font-size: var(--headline-5-font-size);
  line-height: var(--headline-5-line-height);
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.v2-cards.v2-cards--with-arrow .v2-cards__heading::after {
  height: 28px;
  width: 28px;
  content: url('../../icons/arrow-right.svg');
}

@media (min-width: 744px) {
  .v2-cards {
    --card-container-gap: 16px;

    flex-flow: row wrap;
    justify-content: center;
  }

  .v2-cards__card-item {
    max-width: calc((100% - 32px) / 3);
  }

  .v2-cards--horizontal .v2-cards__card-item {
    max-width: 720px;
    display: flex;
    gap: 46px;
  }

  .v2-cards--horizontal .v2-cards__picture-wrapper,
  .v2-cards--horizontal .v2-cards__text-wrapper {
    width: 50%;
  }

  .v2-cards--horizontal .v2-cards__picture-wrapper {
    display: flex;
  }

  .v2-cards--horizontal .v2-cards__picture {
    margin: auto;
  }

  /* 4 cards row variant */
  .v2-cards--4-cards-row {
    --card-container-padding: 16px;
  }

  .v2-cards--4-cards-row .v2-cards__card-item {
    max-width: calc((100% - 2 * var(--card-container-padding)) / 2);
  }

  /* 2 cards row variant */
  .v2-cards--2-cards-row .v2-cards__card-item {
    max-width: calc((100% - var(--card-container-gap) - 182px) / 2);
  }
}

@media (min-width: 1200px) {
  /* 4 cards row variant */
  .v2-cards--4-cards-row .v2-cards__card-item {
    max-width: calc((100% - 3 * var(--card-container-padding)) / 4);
  }
}
