/* stylelint-disable selector-class-pattern */
.v2-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 16px;
}

.v2-cards__card-item {
  background: var(--c-primary-white);
  color: var(--c-primary-black);
}

.v2-cards__picture-wrapper {
  padding: 0;
}

.v2-cards__text-wrapper {
  padding: 24px;
}

.v2-cards__picture {
  display: flex;
}

.v2-cards__image {
  background: #e9eaec;
  height: 193px;
  width: 100%;
  object-fit: cover;
}

.v2-cards__heading {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--headline-5-font-size);
  line-height: var(--headline-5-line-height);
  margin: 0 0 7px;
}

.v2-cards__text-wrapper p {
  margin: 0;
  color: var(--c-primary-black);
  font-family: var(--ff-body);
  font-size: var(--body-1-font-size);
  font-style: normal;
  line-height: var(--body-1-line-height);
  letter-spacing: 0.16px;
}

.v2-cards__text-wrapper .v2-cards__button-container {
  margin-top: 16px;
}

.v2-cards__button-container .v2-cards__button:any-link {
  color: var(--c-primary-black);
  font-family: var(--ff-subheadings-medium);
  font-size: var(--button-font-size);
  font-style: normal;
  line-height: var(--button-line-height);
  letter-spacing: 1.12px;
  display: inline-flex;
  gap: 4px;
  margin: 0;
  padding: 0;
  background: transparent;
}

@media (min-width: 1040px) {
  .v2-cards {
    flex-direction: row;
    gap: 16px;
    padding: 0;
  }
}
