.v2-category-collage {
  --background-color: var(--media-background);
  --text-color: var(--c-primary-white);

  display: flex;
  flex-direction: column;
}

.v2-category-collage__item-container {
  position: relative;
  height: 280px;
}

.v2-category-collage__item-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: scale 0.5s ease;
}

.v2-category-collage__item-container:has(:focus-visible) img,
.v2-category-collage__item-container:has(:hover) img {
  scale: 1.1;
}

.v2-category-collage__item-image {
  height: 100%;
  width: 100%;
  background-color: var(--background-color);
  overflow: hidden;
}

.v2-category-collage__item-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 16px;
}

.v2-category-collage__item-content a {
  --color-icon: var(--text-color);

  display: flex;
  justify-content: space-between;
  color: var(--text-color);
  font-family: var(--ff-testimonial);
  font-size: 20px;
  text-decoration: none;
}

.v2-category-collage__item-content a:focus-visible {
  outline: 2px solid var(--border-focus);
  outline-offset: 2px;
}

.v2-category-collage__item-content .icon svg {
  height: 24px;
  width: 24px;
}

@media (min-width: 744px) {
  .v2-category-collage {
    max-width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template:
      "item-1 item-1 item-1 item-2 item-2 item-2" 272px
      "item-1 item-1 item-1 item-3 item-3 item-3" 272px
      "item-4 item-4 item-5 item-5 item-6 item-6" 398px;
  }

  .v2-category-collage__item-container {
    height: auto;
  }

  .v2-category-collage__item-container[data-collage-item="1"] {
    grid-area: item-1;
  }

  .v2-category-collage__item-container[data-collage-item="2"] {
    grid-area: item-2;
  }

  .v2-category-collage__item-container[data-collage-item="3"] {
    grid-area: item-3;
  }

  .v2-category-collage__item-container[data-collage-item="4"] {
    grid-area: item-4;
  }

  .v2-category-collage__item-container[data-collage-item="5"] {
    grid-area: item-5;
  }

  .v2-category-collage__item-container[data-collage-item="6"] {
    grid-area: item-6;
  }
}
