.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0 0 0 / 60%);
  z-index: 1051;
  transition: opacity 1s linear, visibility 1s linear, height 1s linear;
  opacity: 1;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.modal-background button.modal-close-button {
  color: var(--primary-white);
  text-decoration: none;
  border: none;
  background: transparent;
  font-size: 24px;
  top: 0;
  position: absolute;
  right: 0;
  padding: 5px;
  margin-top: 30px;
  margin-right: 30px;
}

.modal-background button.modal-close-button:hover {
  color: #aaa;
}

.modal-background.modal-hidden {
  opacity: 0;
  height: 0;
}

.modal-content {
  aspect-ratio: 16/9;
  width: 100%;
  background-color: transparent;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  top: 50vh;
}

.modal-content .modal-video {
  width: 100%;
  height: 100%;
  background-color: rgb(230 230 230 / 72%);
}

.modal-before-banner {
  display: flex;
  justify-content: center;
  background: transparent;
  color: white;
  font-size: 16px;
  text-align: center;
  cursor: default;
}

@media (min-width: 768px) {
  .modal-content {
    width: 726px;
  }
}

@media (min-width: 992px) {
  .modal-content {
    width: 930px;
  }
}

@media (min-width: 1300px) {
  .modal-content {
    width: 1170px;
  }
}

/* adjustments for soundcloud variant of modal, e.g. https://www.volvotrucks.us/trucks/powertrain/i-torque/ */
.modal-content .modal-soundcloud {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 2%;
  gap: 2%;
}

.modal-content:has(.modal-soundcloud) {
  aspect-ratio: unset;
}

.modal-content .modal-before-iframe:has(.modal-soundcloud) + iframe {
  height: 200px;
}

.modal-soundcloud .episode-image {
  flex: 20%;
}

.modal-soundcloud .episode-text {
  flex: 80%;
}

.modal-soundcloud .episode-image img {
  width: 100%;
  height: unset;
}
