.footer-wrapper {
  background: var(--primary-black);
}

.footer {
  color: var(--primary-white);
  padding: 60px 32px 10px;
  font-size: 14px;
  margin: auto;
  max-width: 1376px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer .footer-social-media-section {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.footer .footer-social-media {
  border-radius: 17.5px;
  border: 2px solid var(--secondary-dark-gold);
  color: var(--secondary-dark-gold);
  text-decoration: none;
  display: flex;
  width: 35px;
  height: 35px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.footer .footer-social-media:hover {
  color: #af9866;
  border-color: #af9866;
}

.footer .footer-social-media::before {
  width: 17px;
}

.footer h1,
.footer h2,
.footer h3 {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
  border-bottom: 2px solid;
  line-height: 22px;
  margin-top: 0;
}

.footer ul li a {
  color: var(--primary-white);
}

.footer .footer-bottom-section li a {
  color: #999;
}

.footer ul li a:hover {
  color: #999;
  text-decoration: none;
}

.footer h1 ~ ul,
.footer h2 ~ ul,
.footer h3 ~ ul {
  display: flex;
  flex-flow: row wrap;
}

.footer h1 ~ ul li,
.footer h2 ~ ul li,
.footer h3 ~ ul li {
  width: 50%;
}

.footer hr {
  border-bottom: 1px solid #111;
  width: 100%;
}

.footer .footer-bottom-section {
  display: flex;
  align-items: end;
  font-size: 12px;
  justify-content: space-between;
}

.footer .footer-bottom-section ul {
  max-width: 50%;
}

.footer .footer-bottom-section li {
  padding: 10px 0;
}

.footer .footer-bottom-section li a:hover {
  color: var(--primary-white);
}

@media (min-width: 495px) {
  .footer .footer-form-and-social-section {
    width: 255px;
  }
}

@media (min-width: 1024px) {
  .footer {
    padding: 60px 48px 10px;
  }

  .footer .footer-content {
    display: flex;
    flex-flow: row wrap;
  }

  .footer .footer-main-content {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
  }

  .footer .footer-links-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .footer .footer-links-col-1 {
    width: 185px;
  }

  .footer .footer-bottom-section li {
    padding: 10px;
    width: auto;
  }

  .footer .footer-links-col-1 ul li {
    width: 100%;
  }

  .footer .footer-links-col-2 {
    width: 370px;
    margin-left: 20px;
  }

  .footer .footer-bottom-section {
    width: 100%;
  }

  .footer .footer-bottom-section ul {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    max-width: unset;
    align-items: flex-start;
    justify-content: left;
  }

  hr {
    margin-top: 65px;
  }
}
