.footer {
  background: var(--c-primary-black);
  color: var(--c-secondary-silver);
}

.footer svg {
  display: block;
  height: 1em;
  width: 1em;
}

/* General ul styles */
.prefooter ul,
.footer-menu__column ul,
.footer-legal ul,
.footer-menu__socialmedia,
.footer-truck-list__items {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Apply max width to all the necessary footer items */
.prefooter ul,
.footer-truck-list__wrapper,
.footer-legal ul,
.footer-menu {
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

/* Prefooter */
.prefooter {
  background-color: var(--c-primary-gold);
}

.prefooter ul {
  padding: 8px 16px;
}

.prefooter li:not(:last-child) {
  border-bottom: 1px solid var(--c-primary-black);
}

.prefooter a {
  font-size: 18px;
  font-family: var(--ff-subheadings-medium);
  line-height: 140%;
  letter-spacing: 0.36px;
  color: var(--c-primary-black);
  padding: 24px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prefooter .icon-arrow-right {
  width: 28px;
  height: 28px;
  display: block;
  padding-top: 2px;
}

/* Truck list menu */
.footer-truck-list {
  background-color: var(--c-secondary-graphite);
}

.footer-truck-list__title {
  color: var(--c-primary-white);
  margin: 0 auto;
  padding: 24px 32px;
  max-width: var(--wrapper-width);
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.footer-truck-list__title,
.footer-newsletter__title {
  font-family: var(--ff-body-bold);
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 1.92px;
  text-transform: uppercase;
  color: var(--c-primary-white);
}

.footer-truck-list__title .icon-dropdown-caret {
  --color-icon: var(--c-primary-white);

  transition: transform var(--duration-medium) cubic-bezier(0.45, 0, 0.125, 1);
  pointer-events: none;
}

.footer-truck-list.expand .icon-dropdown-caret {
  transform: rotate(180deg);
}

.footer-truck-list__title .icon-dropdown-caret svg {
  width: 16px;
  height: 16px;
}

.footer-truck-list__items {
  transition: 300ms max-height ease;
  will-change: max-height;
  overflow: hidden;
  max-height: 0;
}

.footer-truck-list__items a {
  display: flex;
  padding: 0 32px 16px;
  color: var(--c-primary-white);
  font-family: var(--ff-body);
  font-size: 16px;
  line-height: var(--body-1-line-height);
  letter-spacing: 0.16px;
  justify-content: flex-start;
}

/* Menu wrapper */
.footer-menu {
  display: grid;
  gap: 40px 0;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  padding: 40px 16px;
  /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
  grid-template-areas:
    'logo'
    'menu'
    'newsletter'
    'social';
}

/* Logo */
.footer-menu__logo {
  grid-area: logo;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-menu__logo svg {
  width: 193px;
  height: 19px;
}

.footer-menu__logo svg path[fill] {
  fill: var(--c-primary-white);
}

/* Menu */
.footer-menu__columns {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  gap: 40px 16px;
}

.footer-menu__column {
  width: calc(50% - 20px);
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-menu__column a {
  color: var(--c-secondary-silver);
  font-family: var(--ff-body);
  font-size: 13px;
  line-height: var(--body-2-line-height);
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-menu__column a:hover {
  text-decoration: underline;
}

/* Newsletter */
.footer-newsletter {
  grid-area: newsletter;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-newsletter__title {
  margin-bottom: 12px;
}

/* eloqua footer form styles - START */
.footer-newsletter .eloqua-form {
  margin: 0;
}

.footer-newsletter .eloqua-form p {
  font-family: var(--ff-body);
}

.footer-newsletter .elq-form .field-style {
  margin: 0;
}

.footer-newsletter .elq-form .item-padding {
  padding: 0;
}

.footer-newsletter .eloqua-form .elq-form .email-and-submit-container {
  display: block;
  position: relative;
  max-width: 320px;
  margin-bottom: 5px;
}

.footer-newsletter .eloqua-form .elq-form .email-and-submit-container input[type='text'] {
  background-color: var(--c-primary-white);
  border: none;
  color: var(--c-secondary-graphite);
  font-family: var(--ff-body);
  font-size: 13px;
  height: 48px;
  line-height: 13px;
  padding: 14px 48px 14px 14px;
}

.footer-newsletter .elq-form input[type='text']::placeholder {
  color: var(--c-secondary-graphite);
}

.footer-newsletter .elq-form .submit-button {
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 48px !important;
  height: 48px !important;
  background: var(--button-secondary-gold-enabled) url('../../icons/arrow-right.svg') no-repeat center;
}

.footer-newsletter .elq-form .submit-button:hover {
  background-color: var(--button-secondary-gold-hover);
}

.footer-newsletter .elq-form .submit-button:active {
  background-color: var(--button-secondary-gold-pressed);
}

.footer-newsletter .elq-form .loader {
  position: absolute;
  right: 10px;
  bottom: 50%;
  transform: translate(0, 50%);
  border-top: 3px solid #212121;
  margin-bottom: -12px;
  background: #212121;
}

.footer-newsletter .elq-form .checkbox-label {
  bottom: 0;
  padding-left: 0;
  font-family: var(--ff-body);
  font-size: var(--body-2-font-size);
  line-height: var(--body-2-font-size);
}

.footer-newsletter .checkbox-span {
  position: relative;
}

.footer-newsletter .checkbox-span label[for] {
  position: relative;
  margin-left: 0;
  white-space: break-spaces;
  cursor: pointer;
}

.footer-newsletter .checkbox-span label[for]::before {
  content: "";
  width: 20px;
  height: 20px;
  display: inline-block;
  border: solid 2px var(--c-secondary-dark-gold);
  margin-right: 10px;
  position: relative;
  top: 4px;
  background: var(--c-primary-black);
}

.footer-newsletter .checkbox-span input[type='checkbox'][id] {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 4px;
  left: 0;
  padding: 0;
}

.footer-newsletter .checkbox-span input:checked~label[for]::after {
  content: "\f00c";
  font-family: var(--ff-fontawesome);
  color: var(--c-secondary-dark-gold);
  position: absolute;
  font-size: 18px;
  left: 1px;
  top: -6px;
  line-height: 18px;
}

.footer-newsletter .confirm-checkbox {
  display: none !important;
  user-select: none;
  cursor: pointer;
}

.footer-newsletter .confirm-checkbox.show {
  display: block !important;
}

/* eloqua footer form styles - END */

/* Social media */
.footer-menu__socialmedia {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  grid-area: social;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-menu__socialmedia a {
  --color-icon: var(--c-tertiary-cool-gray);

  display: block;
}

.footer-menu__socialmedia a:hover {
  --color-icon: var(--c-primary-white);
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-menu__socialmedia svg {
  width: 24px;
  height: 24px;
}

/* Legal */
.footer-legal ul {
  border-top: 1px solid var(--c-tertiary-cool-gray);
  margin: 0 16px;
  padding: 40px 16px 40px 0;
  display: flex;
  justify-content: flex-start;
  gap: 8px 24px;
  flex-wrap: wrap;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-legal li {
  font-size: 13px;
}

/* stylelint-disable-next-line no-descending-specificity */
.footer-legal a {
  font-family: var(--ff-body);
  font-style: normal;
  font-weight: 400;
  line-height: 160%;
  color: var(--c-secondary-silver);
}

/* Scroll to top */

.scroll-to-top {
  display: none;
  position: fixed;
  margin: 0;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  border: none;
  cursor: pointer;
  padding: 12px;
  background-color: var(--c-primary-gold);
  box-shadow: 0 8px 16px rgb(0 0 0 / 30%);
}

.scroll-to-top:hover {
  background-color: var(--button-secondary-gold-hover);
}

.scroll-to-top:active {
  background-color: var(--button-secondary-gold-pressed);
}

/* stylelint-disable-next-line no-descending-specificity */
.scroll-to-top svg {
  transform: rotate(-90deg);
  height: 24px;
  width: 24px;
}

@media (min-width: 1200px) {
  /* Prefooter */
  .prefooter ul {
    display: flex;
    padding: 28px 0 24px;
  }

  .prefooter li {
    align-items: center;
    border-right: 1px solid var(--c-primary-black);
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .prefooter li:last-child {
    border-right: 0;
  }

  .prefooter li:not(:last-child) {
    border-bottom: 0;
  }

  .prefooter a {
    font-size: 24px;
    gap: 12px;
    border-bottom: none;
    justify-content: center;
    letter-spacing: 0.48px;
    padding: 15px 0;
  }

  .prefooter li:first-child a {
    margin-right: auto;
  }

  .prefooter li:last-child a {
    margin-left: auto;
  }

  .prefooter .icon-arrow-right {
    padding-top: 0;
  }

  /* Truck list menu */
  .footer-truck-list {
    padding: 0;
  }

  .footer-truck-list__wrapper {
    margin: auto;
    display: flex;
    align-items: baseline;
  }

  .footer-truck-list__title {
    margin: 0 auto 0 0;
    padding: 24px 32px 24px 0;
    cursor: default;
  }

  .footer-truck-list__title .icon-dropdown-caret {
    display: none;
  }

  .footer-truck-list__items {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 44px;
    max-height: 100%;
    overflow: auto;
  }

  /* stylelint-disable-next-line no-descending-specificity */
  .footer-truck-list__items a {
    padding: 0;
  }

  .footer-menu {
    padding: 96px 0 60px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 16px;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas:
      'logo menu newsletter'
      'social menu newsletter';
  }

  /* Logo */
  .footer-menu__logo {
    margin-top: 10px;
  }

  /* Menu */
  .footer-menu__columns {
    flex-wrap: nowrap;
  }

  .footer-menu__column {
    width: 160px;
  }

  /* Legal */
  .footer-legal ul {
    margin: 0 auto;
  }
}

/* cutsom footer styles */
.footer__custom .footer-menu {
  grid-template-areas: 'logo'
    'social';
}

@media (min-width: 1140px) {
  .footer__custom .footer-menu {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    /* stylelint-disable-next-line declaration-block-no-redundant-longhand-properties */
    grid-template-areas: 'logo social';
  }

  .footer__custom .footer-menu__socialmedia {
    justify-self: flex-end;
  }
}
