/* below the fold CSS goes here */

/* Headings */
@font-face {
  font-family: 'GT America Extended Medium';
  src: url('../fonts/GT-America-Extended-Medium.woff2') format('woff2'),
  url('../fonts/GT-America-Extended-Medium.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT America Extended Regular';
  src: url('../fonts/GT-America-Extended-Regular.woff2') format('woff2'),
  url('../fonts/GT-America-Extended-Regular.woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT America Compressed Regular';
  src: url('../fonts/GT-America-Compressed-Regular.woff2') format('woff2'),
  url('../fonts/GT-America-Compressed-Regular.woff') format('woff');
  font-display: swap;
}

/* Subheads, Body Copy, & Legal Copy */
@font-face {
  font-family: 'Helvetica Neue LT Pro 55 Roman';
  src: url('../fonts/HelveticaNeueLTPro-55Roman.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 65 Medium';
  src: url('../fonts/HelveticaNeueLTPro-65Md.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 75 Bold';
  src: url('../fonts/HelveticaNeueLTPro-75Bd.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 56 Roman Italic';
  src: url('../fonts/HelveticaNeueLTPro-56It.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 66 Medium Italic';
  src: url('../fonts/HelveticaNeueLTPro-66MdIt.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 76 Bold Italic';
  src: url('../fonts/HelveticaNeueLTPro-76BdIt.otf') format('opentype');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue 85 Heavy';
  src: url('../fonts/helveticaneueltpro-hv.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Accent elements */
@font-face {
  font-family: 'GT America Mono Regular';
  src: url('../fonts/GT-America-Mono-Regular.woff2') format('woff2'),
  url('../fonts/GT-America-Mono-Regular.woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Medium';
  src: url('../fonts/GT-America-Mono-Medium.woff2') format('woff2'),
  url('../fonts/GT-America-Mono-Medium.woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

/* Alternate Fonts */
@font-face {
  font-family: 'Arial Regular Text Fallback';
  src: local(arial);
  font-display: swap;
}

@font-face {
  font-family: 'Arial Bold Headline Fallback';
  src: local(arial);
  font-weight: bold;
  font-display: swap;
}

/*
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: fontawesome;
  src: url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

.fa {
  font: normal normal normal 14px/1 var(--ff-fontawesome);
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0)
}

.fa-angle-right::before {
  content: "\f105";
}

.fa-angle-left::before {
  content: "\f104";
}

.fa-angle-up::before {
  content: "\f106"
}

.fa-search::before {
  content: "\f002"
}

.fa-search-plus::before {
  content: "\f00e"
}

.fa-plug::before {
  content: "\f1e6"
}

.fa-facebook-f::before,.fa-facebook::before {
  content: "\f09a"
}

.fa-bold::before {
  content: "\f032"
}

.fa-engine-power::before {
  content: "\e60c"
}

.fa-play::before {
  content: "\f04b"
}

.fa-play-circle-o::before {
  content: "\f01d"
}

.fa-youtube::before {
  content: "\f16a"
}

.fa-linkedin::before {
  content: "\f0e1"
}

.fa-instagram::before {
  content: "\f16d"
}

.fa-twitter::before {
  content: "\f099"
}

.fa-bolt::before,.fa-flash::before {
  content: "\f0e7"
}

.fa-plus::before {
  content: "\f067"
}

.fa-info-circle::before {
  content: "\f05a"
}

.fa-close::before,.fa-remove::before,.fa-times::before {
  content: "\f00d"
}

.fa-star::before {
  content: "\f005"
}

.fa-star-o::before {
  content: "\f006"
}

.fa-cut::before,.fa-scissors::before {
  content: "\f0c4"
}

.fa-copy::before,.fa-files-o::before {
  content: "\f0c5"
}

.fa-bars::before {
  content: "\f0c9"
}

.fa-external-link::before {
  content: "\f08e"
}

.fa-refresh::before {
  content: "\f021"
}

.fa-user::before {
  content: "\f007"
}

.fa-clock-o::before {
  content: "\f017";
}

.fa-calendar::before {
  content: "\f073"
}

.fa-envelope::before {
  content: "\f0e0"
}

.fa-caret-left::before {
  content: "\f0d9"
}

.fa-caret-right::before, .fa-arrow-right::after {
  content: "\f0da"
}

.fa-caret-down::before {
  content: "\f0d7"
}

.fa-caret-up::before {
  content: "\f0d8"
}

.fa-truck::before {
  content: "\f0d1"
}

.fa-dashboard::before {
  content: "\f0e4"
}

.fa-cog::before {
  content: "\f013"
}

.fa-check::before {
  content: "\f00c"
}

.fa-close::before {
  content: "\f00d";
}

.body-dealer-locator footer.footer-wrapper{
  display: none;
}

.body-dealer-locator main .section {
  padding: 0;
}

@media (min-width: 768px) {
  .body-dealer-locator main .section {
    padding: 0;
    margin: 0;
  }
}

.fa-facebook::before,
.fa-youtube::before {
  display: flex;
  justify-content: center;
}

.truck-configurator {
  --transition-min-height: min-height var(--duration-medium) var(--duration-large) var(--easing-exit);
  --transition-opacity: opacity var(--duration-medium) var(--duration-small) var(--easing-exit);
  --transition-translate: translate var(--duration-medium) var(--easing-exit);
}


.truck-configurator,
.truck-configurator body,
.truck-configurator main {
  height: 100%;
}

.truck-configurator #configurator {
  translate: 0 var(--nav-height);
  height: calc(100% - var(--nav-height));
  transition: var(--transition-min-height);
}

.truck-configurator .header-wrapper {
  position: fixed;
  transition: var(--transition-min-height), var(--transition-translate);
}

.truck-configurator .header {
  box-sizing: border-box;
  position: static;
  transition: var(--transition-opacity), var(--transition-translate);
}

.truck-configurator--detail-page {
  --nav-height: 0px;
}

.truck-configurator--detail-page .header-wrapper {
  translate: 0 -100%;
}

.truck-configurator--detail-page .header {
  opacity: 0;
}
