/* below the fold CSS goes here */

/* OLD FONTS */

/* TODO replace for new --> see below */

@font-face {
  font-family: 'Helvetica Neue 75 Bold';
  src: url('../fonts/helveticaneueltpro-bd-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue 65 Medium';
  src: url('../fonts/hnltp-md-webfont.woff') format('woff');
  font-weight: 500!important;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue 85 Heavy';
  src: url('../fonts/helveticaneueltpro-hv.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue Regular 55';
  src: url('../fonts/helveticaneueltpro-roman.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: fontawesome;
  src: url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* NEW FONTS */

/* Headings */
@font-face {
  font-family: 'GT America Extended Medium';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'GT America Extended Medium Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

/* Subheads, Body Copy, & Legal Copy */
@font-face {
  font-family: 'Helvetica Neue LT Pro 55 Roman';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 65 Medium';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 75 Bold';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 56 Roman Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 66 Medium Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

@font-face {
  font-family: 'Helvetica Neue LT Pro 76 Bold Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  font-display: swap;
}

/* Accent elements */
@font-face {
  font-family: 'GT America Mono Regular';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Medium';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Bold';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Regular Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Medium Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

@font-face {
  font-family: 'GT America Mono Bold Italic';
  src: url('../fonts/ -missing- .woff') format('woff');
  letter-spacing: -4%;
  font-display: swap;
}

/* Alternate Fonts */
@font-face {
  font-family: 'Arial Regular Text Fallback';
  src: local(arial);
  font-display: swap;
}

@font-face {
  font-family: 'Arial Bold Headline Fallback';
  src: local(arial);
  font-weight: bold;
  font-display: swap;
}


/*
 *  Font Awesome 4.3.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face {
  font-family: fontawesome;
  src: url('../fonts/fontawesome-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

 .fa {
  font: normal normal normal 14px/1 var(--ff-fontawesome);
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0)
}

.fa-facebook-f::before,.fa-facebook::before {
  content: "\f09a"
}

.fa-play::before {
  content: "\f04b"
}

.fa-youtube::before {
  content: "\f167"
}

.fa-linkedin::before {
  content: "\f0e1"
}

.fa-instagram::before {
  content: "\f16d"
}

.fa-twitter::before {
  content: "\f099"
}

.fa-check::before {
  content: "\f00c";
}
