/* stylelint-disable selector-class-pattern */

@font-face {
  font-family: "fontawesome Fallback";
  font-style: normal;
  font-weight: 400;
  src: local("Arial");
  ascent-override: 93.75%;
  descent-override: 6.25%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}

:root {
  /* Primary colors */
  --c-primary-black: #000;
  --c-primary-white: #fff;
  --c-primary-gold: #b3976b;

  /* Secondary colors */
  --c-secondary-graphite: #1d1d1d;
  --c-secondary-steel: #a7abaf;
  --c-secondary-silver: #dfdfdf;
  --c-secondary-dark-gold: #87754e;

  /* Tertiary colors */
  --c-tertiary-cool-gray: #555;
  --c-tertiary-light-cool-gray: #e9eaec;
  --c-tertiary-warm-gray: #eeece7;
  --c-tertiary-light-warm-gray: #f7f6f3;

  /* Accent colors */
  --c-accent-red: #cd1a0a;
  --c-accent-copper: #8f654d;

  /* Applied colors */
  --background-color: var(--c-primary-white);
  --text-color: var(--c-primary-black);
  --link-color: var(--c-accent-red);
  --link-hover-color: var(--c-primary-black);
  --header-color: var(--c-primary-white);
  --header-background-color: var(--c-primary-white);
  --overlay-background-color: var(--c-secondary-silver);

  /* BUTTONS */

  /* Primary */
  --button-primary-red-enabled: var(--c-accent-red);
  --button-primary-red-hover: #e11d0b;
  --button-primary-red-pressed: #b91709;
  --button-primary-red-disabled: #e1dfdd;

  /* Secondary */
  --button-secondary-gold-enabled: var(--c-primary-gold);
  --button-secondary-gold-hover: #d9b781;
  --button-secondary-gold-pressed: #a18860;
  --button-secondary-gold-disabled: #e1dfdd;

  /* Tertiary */
  --button-tertiary-white-enabled: var(--c-primary-white);
  --button-tertiary-white-hover: #a7a8a9;
  --button-tertiary-white-pressed: #e1dfdd;
  --button-tertiary-white-disabled: var(--c-primary-white);

  /* Focus */
  --border-focus: red;

  /* Font family */

  /* Alternate fonts */
  --fallback-ff-texts: "Arial Regular Text Fallback", helvetica, sans-serif;
  --fallback-ff-headlines: "Arial Bold Headline Fallback", helvetica, sans-serif;
  --fallback-ff-accents: "Arial Regular Text Fallback", helvetica, sans-serif;

  /* Headlines */
  --ff-headline-medium: "GT America Extended Medium", var(--fallback-ff-headlines);
  --ff-subheadings-medium: "Helvetica Neue LT Pro 65 Medium", var(--fallback-ff-texts);

  /* Body */
  --ff-body: "Helvetica Neue LT Pro 55 Roman", var(--fallback-ff-texts);
  --ff-body-bold: "Helvetica Neue LT Pro 75 Bold", var(--fallback-ff-texts);
  --ff-testimonial: "GT America Extended Regular", var(--fallback-ff-accents);
  --ff-accents: "GT America Mono Regular", var(--fallback-ff-accents);

  /* Fontawesome */
  --ff-fontawesome: "fontawesome", "fontawesome Fallback";

  /* Font sizes */

  /* GT America, Extended Medium, 45px, 115%, -2% / 32px, 115%, -2% */
  --headline-1-font-size: 3.2rem; /* 32px */
  --headline-1-line-height: 115%;
  --headline-1-letter-spacing: -2%;

  /* GT America, Extended Medium, 32px, 115%, -2% / 28px, 115%, -2% */
  --headline-2-font-size: 2.8rem; /* 28px */
  --headline-2-line-height: 115%;
  --headline-2-letter-spacing: -2%;

  /* Helvetica Neue LT Pro, 65 Medium, 32px, 115% / 28px, 115% */
  --headline-3-font-size: 2.8rem; /* 28px */
  --headline-3-line-height: 115%;

  /* Helvetica Neue LT Pro, 65 Medium, 24px, 140%  */
  --headline-4-font-size: 2.4rem; /* 24px */
  --headline-4-line-height: 140%;

  /* Helvetica Neue LT Pro, 65 Medium, 18px, 140%  */
  --headline-5-font-size: 1.8rem; /* 18px */
  --headline-5-line-height: 140%;

  /* Superscript font size */
  --superscript-font-size: 0.750rem; /* 12px */

  /* Wrapper for generic components */
  --wrapper-width: 1040px;

  /* COLORS START */
  --c-primary-gray: #f1f1f1;
  --c-secondary-light-gray: #F4F5F6;

  /* COLORS END */

  /*
  OLD CSS VARIABLES
  */

  --ff-helvetica-heavy: "Helvetica Neue 85 Heavy", var(--fallback-ff-texts);
  --ff-helvetica-roman-italic: "Helvetica Neue LT Pro 56 Roman Italic", var(--fallback-ff-texts);
  --ff-helvetica-medium-italic: "Helvetica Neue LT Pro 66 Medium Italic", var(--fallback-ff-texts);
  --ff-helvetica-bold-italic: "Helvetica Neue LT Pro 76 Bold Italic", var(--fallback-ff-texts);

  /* Accent elements */
  --ff-accents-medium: "GT America Mono Medium", var(--fallback-ff-accents);
  --ff-accents-regular: "GT America Mono Regular", var(--fallback-ff-accents);

  /* Body font sizes */
  --body-font-size-xxl: 2.4rem; /* 24px */
  --body-font-size-xl: 2.2rem; /* 22px */
  --body-font-size-l: 2rem; /* 20px */
  --body-font-size-m: 1.8rem; /* 18px */
  --body-font-size-s: 1.6rem; /* 16px */
  --body-font-size-xs: 1.4rem; /* 14px */
  --body-font-size-xxs: 1.3rem; /* 13px */

  /* Heading font sizes */
  --heading-font-size-scale: 0.5;
  --heading-font-size-xxl: calc(10rem * var(--heading-font-size-scale)); /* 50px */
  --heading-font-size-xl: calc(8rem * var(--heading-font-size-scale)); /* 40px */
  --heading-font-size-l: calc(6.4rem * var(--heading-font-size-scale)); /* 32px */
  --heading-font-size-ml: calc(6rem * var(--heading-font-size-scale)); /* 30px */
  --heading-font-size-m: calc(4rem * var(--heading-font-size-scale)); /* 20px */
  --heading-font-size-s: calc(3.6rem * var(--heading-font-size-scale)); /* 18px */
  --heading-font-size-xs: calc(3.2rem * var(--heading-font-size-scale)); /* 16px */
  --heading-font-size-xxs: calc(2rem * var(--heading-font-size-scale)); /* 10px */

  /* Heading font sizes DESKTOP */
  --heading-desktop-font-size-scale: 0.5;
  --heading-1-desktop-size-xl: calc(9rem * var(--heading-font-size-scale)); /* 45px */

  /* Heading font sizes MOBILE */
  --heading-mobile-font-size-scale: 0.5;
  --heading-3-mobile-size-m: calc(5.2rem * var(--heading-font-size-scale)); /* 26px */
  --heading-4-mobile-size-s: calc(4.8rem * var(--heading-font-size-scale)); /* 24px */

  /* nav sizes */
  --nav-width: 1376px;
  --nav-height-m: 60px;
  --nav-height-l: 80px;
  --nav-height: var(--nav-height-m);
}

@media (min-width: 1200px) {
  :root {
    --nav-height: var(--nav-height-l);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--ff-body);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: unset;
}

header {
  width: 100%;
  background-color: var(--header-background-color);
  color: var(--header-color);
  position: sticky;
  top: 0;
  z-index: 3;
  min-height: var(--nav-height);
}

h1, h2, h3,
h4, h5, h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
  font-family: var(--ff-headline-medium);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: 0.5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1, h2 {
  font-family: var(--ff-headline-medium);
}

h1 {
  font-size: var(--heading-font-size-xxl);
}

h2 {
  font-size: var(--heading-font-size-xl);
}

h3 {
  font-size: var(--heading-font-size-l);
}

h4 {
  font-size: var(--heading-font-size-m);
}

h5 {
  font-size: var(--heading-font-size-s);
}

h6 {
  font-size: var(--heading-font-size-xs);
}

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

code, pre, samp {
  font-family: var(--ff-accents-medium);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: 0.125em;
}

pre {
  overflow: scroll;
}

/* buttons */

a.button:any-link, button {
  font-family: var(--ff-body);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  overflow: hidden;
  transition: all 500ms;
}

a.button:hover, a.button:focus, button:hover, button:focus {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

html:not(.redesign-v2) a.button--secondary, html:not(.redesign-v2) button.button--secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color);
}

html:not(.redesign-v2) a.button--secondary:hover, html:not(.redesign-v2) button.button--secondary:hover,
html:not(.redesign-v2) a.button--secondary:focus, html:not(.redesign-v2) button.button--secondary:focus {
  background-color: var(--button-secondary-gold-pressed);
  color: #fff;
  border-color: var(--button-secondary-gold-hover);
}

ul.button-container {
  padding: 0;
  list-style: none;
}

a.button.arrowed, button.arrowed {
  border: none;
  padding: 0;
  background-color: transparent;
  color: inherit;
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  margin: 0;
}

a.button.arrowed:hover, button.arrowed:hover,
a.button.arrowed:focus, button.arrowed:focus {
  color: #5d5d5d;
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main .section {
  padding: 64px 16px;
}

main .section:empty {
  display: none;
}

main .section.background {
  position: relative;
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center;
}

main .section.background-top {
  background-position: top;
}

main .section.text-black {
  color: var(--c-primary-black);
}

main .section.text-white {
  color: var(--c-primary-white);
}

main .section.text-white,
main .section.section--black-background {
  background-color: var(--c-primary-black);
}

main .section.dark-background {
  background-color: var(--c-secondary-graphite);
  color: var(--c-primary-white);
}

main .section.center {
  text-align: center;
}

main .section.flex-center > div {
  display: flex;
  justify-content: center;
}

main .section.gap > div {
  gap: 3rem;
}

/* top line over section or block */
main .section.title-line > div > :is(h2, h3, h4) {
  border-block-start: 3px solid var(--c-primary-black);
  padding-block-start: 1rem;
}

main .section.no-first-line.title-line > div:first-child > :is(h2, h3, h4) {
  border-block-start: none;
  padding-block-start: 0;
}

main .block.line-separator {
  border-block-start: 3px solid var(--c-primary-black);
  padding-block-start: 5rem;
}

/* less padding in sections */
main .section.padding-0 {
  padding: 0 16px;
}

main .section.padding-16 {
  padding: 16px;
}

main .section.padding-32 {
  padding: 32px 16px;
}

@media (min-width: 600px) {
  main .section.padding-0 {
    padding: 0 32px;
  }

  main .section.padding-16 {
    padding: 16px 32px;
  }

  main .section.padding-32 {
    padding: 32px;
  }
}

/* title white on black background */
.section.title-white > div > h2 {
  color: white;
}

/* margin adjustment */
.section.title-margin-bottom-0 > div > h2 {
  margin-block-end: 0;
}

/* stylelint-disable-next-line no-descending-specificity */
.section.wrapper-margin-top-0 > div {
  margin-block-start: 0;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: 0.25em;
  overflow-x: auto;
  white-space: pre;
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 900px) {
  :where(html:not(.redesign-v2)) .section > div {
    max-width: 1200px;
    margin: auto;
  }

  main .section.background {
    background-size: cover;
    min-height: 100vh;
  }
}

/* progressive section appearance */
main .section[data-section-status="loading"],
main .section[data-section-status="initialized"] {
  display: none;
}

main .section.highlight {
  background-color: var(--highlight-background-color);
}

body.disable-scroll,
body.disable-scroll main {
  overflow: hidden;
}

.low-resolution-banner {
  margin-bottom: 20px;
}

.low-resolution-banner-cookie-settings {
  background: transparent;
  padding: 0;
  margin: 0;
  text-decoration: underline;
  font-size: 16px;
  font-weight: 400;
}

.low-resolution-banner-cookie-settings:hover,
.low-resolution-banner-cookie-settings:active {
  background-color: transparent;
}

.link-with-video {
  position: relative;
  display: inline-flex;
}

.link-with-video::after {
  content: "";
  top: 0;
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0, #000 100%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.link-with-video:hover::after {
  opacity: 0.5;
}

.video-icon-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color: white;
  background: #474747;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}

@media (min-width: 480px) {
  .video-icon-wrapper {
    width: 90px;
    height: 90px;
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .video-icon-wrapper {
    width: 120px;
    height: 120px;
    font-size: 50px;
  }
}

.link-with-video:hover .video-icon-wrapper {
  transform: translate(-50%, -50%) scale(0.95);
  background: #7a7a7a;
}

/* background classes */
.bg-white-paper {
  background: url("../../media/bg-explore.webp");
  background-size: cover;
}

/* Magazine listing default content metadata style */
main .section.magazine-listing-content {
  padding: 0 16px;
}

main .section.magazine-listing-content p {
  font-family: var(--ff-subheadings-medium);
  font-size: var(--body-font-size-xs);
}

main .section.magazine-listing-content p:first-of-type {
  margin: 0 0 15px;
}

main .section.magazine-listing-content h3 {
  font-family: var(--ff-body-bold);
  font-size: var(--heading-font-size-s);
  background-color: var(--c-primary-black);
  color: var(--c-primary-white);
  width: 100%;
  line-height: 38px;
  padding: 5px 0 0 5px;
  margin: 0 0 13px;
}

main sup {
  font-size: clamp(var(--body-font-size-s), 12px, 1em);
  padding-left: 3px;
}

@media (min-width: 768px) {
  main .section.magazine-listing-content {
    max-width: calc(960px + 16px + 16px);
    padding-top: 50px;
    margin: 0 auto;
  }

  main .section.magazine-listing-content h3 {
    font-size: var(--heading-font-size-ml);
    margin: 0 0 17px;
  }

  main .section.magazine-listing-content p {
    font-size: var(--body-font-size-s);
  }

  main .section.magazine-listing-content p:first-of-type {
    margin: 0 0 22px;
  }
}

/* Theme icon button for contact-us page */
.icon-button .default-content-wrapper ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icon-button ul .icon svg {
  width: 150px;
  height: 40px;
}

@media (min-width: 480px) {
  .icon-button .default-content-wrapper ul {
    flex-direction: row;
    justify-content: center;
  }
}

/* Section medatada styling */

main .section.font-xxl {
  font-size: var(--body-font-size-xxl);
}

main .section.font-xl {
  font-size: var(--body-font-size-xl);
}

main .section.font-l {
  font-size: var(--body-font-size-l);
}

main .section.font-m {
  font-size: var(--body-font-size-m);
}

main .section.font-s {
  font-size: var(--body-font-size-s);
}

main .section.font-xs {
  font-size: var(--body-font-size-xs);
}

main .section.font-xxs {
  font-size: var(--body-font-size-xxs);
}

main .section.bg-paper {
  background: url("../media/bg-paper.webp");
}

main .section.section-width {
  max-width: 960px;
  margin: 0 auto;
}

/* quick fix to align #community title with the cards below */
.section.bg-white-paper.cards-container > .default-content-wrapper > h2 {
  text-align: center;
}

@media (min-width: 669px) {
  .section.bg-white-paper.cards-container > .default-content-wrapper > h2 {
    margin-inline: auto;
    max-width: 590px;
    text-align: start;
  }
}

@media (min-width: 989px) {
  .section.bg-white-paper.cards-container > .default-content-wrapper > h2 {
    margin-inline: auto;
    max-width: 910px;
  }
}

main .section.helvetica-55 {
  font-family: var(--ff-body);
}

main .section.helvetica-65 {
  font-family: var(--ff-subheadings-medium);
}

main .section.helvetica-75 {
  font-family: var(--ff-body-bold);
}

main .section.helvetica-56 {
  font-family: var(--ff-helvetica-roman-italic);
}

main .section.helvetica-66 {
  font-family: var(--ff-helvetica-medium-italic);
}

main .section.helvetica-76 {
  font-family: var(--ff-helvetica-bold-italic);
}

main .section.responsive-title h1 {
  font-family: var(--ff-helvetica-heavy);
  font-size: var(--heading-2-mobile-size-l);
}

@media (min-width: 768px) {
  main .section.responsive-title h1 {
    font-size: var(--heading-font-size-xxl);
  }
}

/* REDESIGN GLOBAL STYLES */
.redesign-v2 {
  --v2-space-small: 16px;
  --color-icon: var(--c-primary-black);
  --color-icon-accent: var(--c-primary-gold);
  --section-max-width: 1920px;
  --section-padding: 40px 0;
  --section-div-padding: 24px var(--v2-space-small);

  font-size: 16px;

  /* Font sizes */

  /* GT America, Extended Medium, 45px, 115%, -2% / 32px, 115%, -2% */
  --headline-1-font-size: 2rem; /* 32px */

  /* GT America, Extended Medium, 32px, 115%, -2% / 28px, 115%, -2% */
  --headline-2-font-size: 1.75rem; /* 28px */

  /* Helvetica Neue LT Pro, 65 Medium, 32px, 115% / 28px, 115% */
  --headline-3-font-size: 1.75rem; /* 28px */

  /* Helvetica Neue LT Pro, 65 Medium, 24px, 140%  */
  --headline-4-font-size: 1.5rem; /* 24px */

  /* Helvetica Neue LT Pro, 65 Medium, 18px, 140%  */
  --headline-5-font-size: 1.125rem; /* 18px */

  /* Body font sizes */
  --body-font-size-xxl: 1.5rem; /* 24px */
  --body-font-size-xl: 1.375rem; /* 22px */
  --body-font-size-l: 1.25rem; /* 20px */
  --body-font-size-m: 1.125rem; /* 18px */
  --body-font-size-s: 1rem; /* 16px */
  --body-font-size-xs: 0.875rem; /* 14px */

  /* stylelint-disable-next-line number-max-precision */
  --body-font-size-xxs: 0.8125rem; /* 13px */

  /* Helvetica Neue LT Pro, 55 Roman / Helvetica Neue LT Pro, 75 Bold, 16px, 150%  */
  --body-1-font-size: 1rem; /* 16px */
  --body-1-line-height: 150%;

  /* Helvetica Neue LT Pro, 55 Roman / Helvetica Neue LT Pro, 75 Bold, 13px, 160%  */
  /* stylelint-disable-next-line number-max-precision */
  --body-2-font-size: 0.8125rem; /* 13px */
  --body-2-line-height: 160%;

  /* GT America Mono, Regular, 18px, 120% */
  --accent-1-font-size: 1.125rem; /* 18px */
  --accent-1-line-height: 120%;

  /* GT America Mono, Regular, 14px, 120% */
  --accent-2-font-size: 0.875rem; /* 14px */
  --accent-2-line-height: 120%;

  /* Helvetica Neue LT Pro, 75 Bold, 14px, 16px */
  --label-font-size: 0.875rem; /* 14px */
  --label-line-height: 16px;

  /* Helvetica Neue LT Pro, 55 Roman, 14px, 18px */
  --button-font-size: 0.875rem; /* 14px */
  --button-line-height: 18px;

  /* GT America, Extended Roman, 24px, 120%, -2% / 18px, 120%, -2% */
  --testimonial-font-size: 1.125rem; /* 18px */
  --testimonial-line-height: 120%;
  --testimonial-letter-spacing: -.0225rem;

  /* Motions */
  --duration-small: 160ms;
  --duration-medium: 240ms;
  --duration-large: 320ms;
  --easing-entrance: cubic-bezier(0, 0, 0.4, 1);
  --easing-exit: cubic-bezier(0.2, 0, 1, 1);
  --easing-standard: cubic-bezier(0.2, 0, 0.1, 1);

  /* In page navigation */
  --inpage-navigation-height: 0;
}

.redesign-v2 body {
  font-size: var(--body-1-font-size);
  line-height: var(--body-1-line-height);
}

/* stylelint-disable-next-line no-descending-specificity */
:where(.redesign-v2) h1, :where(.redesign-v2) h2, :where(.redesign-v2) h3,
:where(.redesign-v2) h4, :where(.redesign-v2) h5, :where(.redesign-v2) h6,
.h1, .h2, .h3,
.h4, .h5, .h6 {
  font-family: var(--ff-subheadings-medium);
  font-weight: normal;
}

/* stylelint-disable-next-line no-descending-specificity */
:where(.redesign-v2) h1, .h1 {
  font-size: var(--headline-1-font-size);
  line-height: var(--headline-1-line-height);
  letter-spacing: var(--headline-1-letter-spacing);
}

/* stylelint-disable-next-line no-descending-specificity */
:where(.redesign-v2) h2, .h2 {
  font-size: var(--headline-2-font-size);
  line-height: var(--headline-2-line-height);
  letter-spacing: var(--headline-2-letter-spacing);
}

/* stylelint-disable-next-line no-descending-specificity */
:where(.redesign-v2) h3, .h3 {
  font-size: var(--headline-3-font-size);
  line-height: var(--headline-3-line-height);
}

:where(.redesign-v2) h4, .h4 {
  font-size: var(--headline-4-font-size);
  line-height: var(--headline-4-line-height);
}

:where(.redesign-v2) h5, .h5 {
  font-size: var(--headline-5-font-size);
  line-height: var(--headline-5-line-height);
}

/* ICONS STYLES */

/* icons on gold background */
.redesign-v2 [data-theme="gold"] {
  --color-icon-accent: var(--c-primary-white);
}

/* icons on black background */
.redesign-v2 [data-theme="black"] {
  --color-icon: var(--c-primary-white);
}

/* ICONS STYLES - END */

/* REDESIGN Buttons */
/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 a.button:any-link,
.redesign-v2 button {
  font-weight: normal;
}

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 a.button,
.redesign-v2 button.button {
  align-items: center;
  border-radius: 2px;
  border: 1px solid transparent;
  display: inline-flex;
  font-family: var(--ff-subheadings-medium);
  font-size: var(--button-font-size);
  font-weight: normal;
  gap: 10px;
  justify-content: center;
  letter-spacing: 1.12px;
  line-height: var(--button-line-height);
  min-width: 128px;
  padding: 12px 20px 8px;
  text-align: center;
  text-decoration: none;
  transition: background-color var(--duration-small) var(--easing-standard),
  color var(--duration-small) var(--easing-standard),
  border-color var(--duration-small) var(--easing-standard);
}

.redesign-v2 a.button--small,
.redesign-v2 button.button--small {
  min-width: 96px;
  padding: 8px 20px 4px;
}

.redesign-v2 a.button--large,
.redesign-v2 button.button--large {
  min-width: 160px;
  padding: 16px 20px 12px;
}

.redesign-v2 .button--cta {
  background-color: var(--button-primary-red-enabled);
  color: var(--c-primary-white);
}

.redesign-v2 .button--cta:hover,
.redesign-v2 .button--cta:focus {
  background-color: var(--button-primary-red-hover);
}

.redesign-v2 .button--cta:active {
  background-color: var(--button-primary-red-pressed);
}

.redesign-v2 a.button--primary,
.redesign-v2 button.button--primary {
  background-color: var(--button-secondary-gold-enabled);
  color: var(--c-primary-black);
}

.redesign-v2 .button--primary:hover,
.redesign-v2 .button--primary:focus {
  background-color: var(--button-secondary-gold-hover);
}

.redesign-v2 .button--primary:active {
  background-color: var(--button-secondary-gold-pressed);
}

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 a.button--secondary,
.redesign-v2 button.button--secondary {
  background-color: var(--button-tertiary-white-enabled);
  border-color: var(--c-primary-black);
  color: var(--c-primary-black);
}

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 .button--secondary:hover,
.redesign-v2 .button--secondary:focus {
  background-color: #F1F1F1;
  border-color: var(--button-tertiary-white-hover);
}

.redesign-v2 .button--secondary:active {
  background-color: var(--button-tertiary-white-pressed);
  border-color: #D9D9D9;
}

/* Section Background colors */
.redesign-v2 .section--black-background,
.redesign-v2 .section--gray-background {
  --card-background: var(--c-primary-white);
  --card-text: var(--c-primary-black);
}

.redesign-v2 .section--black-background {
  --text-color: var(--c-primary-white);

  color: var(--text-color);
  background-color: var(--c-secondary-graphite);
}

.redesign-v2 .section--gray-background {
  --text-color: var(--c-primary-black);

  color: var(--text-color);
  background-color: var(--c-secondary-silver);
}

.redesign-v2 .section--background-with-dots {
  position: relative;
  z-index: 1;
}

.redesign-v2 .section--background-with-dots::after {
  background-image: url('../../media/dots.svg');
  background-position: top right 10px;
  bottom: 0;
  content: '';
  display: block;
  height: 60%;
  height: round(60%, 24px);
  width: 40%;
  width: round(40%, 24px);;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 .section--background-with-dots > div {
  position: relative;
  z-index: 2;
}

.redesign-v2 .section--with-background {
  --section-padding: 0;
  --text-color: var(--c-primary-white);

  aspect-ratio: 2 / 1;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: var(--section-max-width);
  position: relative;
}

.redesign-v2 .section--with-background .default-content-wrapper {
  background-color: var(--c-secondary-graphite);
}

.redesign-v2 .section--with-background > picture:first-of-type img {
  display: block;
  height: 100%;
  object-fit: cover;
  width: 100%;
}

/* End section Background colors */

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 .section {
  padding: var(--section-padding);
  scroll-margin-top: calc(var(--nav-height) + var(--inpage-navigation-height));
}

/* stylelint-disable-next-line no-descending-specificity */
.redesign-v2 .section > div {
  padding: var(--section-div-padding);
  max-width: var(--wrapper-width);
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

/* Remove padding top of consecutive sections with background image or colors */
.redesign-v2 .section:first-child,
.redesign-v2 .v2-testimonial-container,
.redesign-v2 .section:not(.section--black-background, .section--gray-background, .v2-hero-container, .section--with-background) + .section:not(.section--black-background, .section--gray-background, .section--with-background) {
  padding-top: 0;
}

/* Prevent padding in blocks that contain multiple sections */
/* stylelint-disable-next-line no-descending-specificity */
.section:has(+ .v2-truck-lineup-container, + .v2-tabbed-carousel-wrapper) {
  padding-bottom: 0;
}

/* Prevent margins for first and last element of a text */
.redesign-v2 .section > div.default-content-wrapper > *:first-child {
  margin-top: 0;
}

.redesign-v2 .section > div.default-content-wrapper > *:last-child {
  margin-bottom: 0;
}

/* END Prevent margins for first and last element of a text */

.redesign-v2 .section > .full-width {
  padding: 0;
  margin: 0;
  width: 100%;
  max-width: 100%;
}

.redesign-v2 main .section.padding-0 {
  padding: 0;
}

.section.header-with-mark > .default-content-wrapper:first-of-type > h1:first-child::before,
.section.header-with-mark > .default-content-wrapper:first-of-type > h2:first-child::before,
.redesign-v2 .with-marker::before {
  content: '';
  margin: 0;
  height: 0;
  width: 45px;
  border-bottom: 4px solid var(--c-accent-red);
  display: block;
  position: relative;
  top: -18px;
}

.redesign-v2 a.standalone-link {
  align-items: center;
  color: var(--c-primary-black);
  display: inline-flex;
  font-family: var(--ff-subheadings-medium);
  font-size: var(--button-font-size);
  gap: 4px;
  letter-spacing: 1.12px;
  line-height: var(--button-line-height);
  background: transparent;
}

.redesign-v2 a.standalone-link:active {
  color: var(--c-tertiary-cool-gray);
}

.redesign-v2 a.standalone-link:hover,
.redesign-v2 a.standalone-link:focus {
  color: var(--c-tertiary-cool-gray);
  text-decoration: underline;
}

@media (min-width: 1040px) {
  .section.header-with-mark > .default-content-wrapper:first-of-type > h1:first-child::before,
  .section.header-with-mark > .default-content-wrapper:first-of-type > h2:first-child::before,
  .redesign-v2 .with-marker::before {
    width: 65px;
  }
}

@media (min-width: 1072px) {
  .redesign-v2 .section {
    padding: 80px 0;
  }

  .redesign-v2 .section > div {
    margin: 0 auto;
    max-width: var(--wrapper-width);
    padding: 0;
  }
}

@media (min-width: 744px) {
  .section--background-with-dots::after {
    height: 75%;
    height: round(75%, 24px);
    width: 55%;
    width: round(55%, 24px);
    background-position: top right;
  }

  .section--with-background {
    --text-color: var(--c-primary-black);
  }

  .section--with-background .default-content-wrapper {
    background-color: transparent;
  }
}

@media (min-width: 1200px) {
  .redesign-v2 {
    /* New design variables */
    /* stylelint-disable-next-line number-max-precision */
    --headline-1-font-size: 2.8125rem; /* 45px */
    --headline-2-font-size: 2rem; /* 32px */
    --headline-3-font-size: 2rem; /* 32px */
    --testimonial-font-size: 1.5rem; /* 24px */
    --testimonial-letter-spacing: -.03rem;
    --section-div-padding: 24px 0;
    --section-padding: 56px 0;
  }

  .section--with-background {
    --section-padding: 56px 0;
    --text-color: var(--c-primary-white);

    justify-content: flex-end;
  }

  .redesign-v2 .v2-testimonial-container {
    padding: var(--section-div-padding);
  }

  .section--with-background > picture:first-of-type img {
    display: block;
    height: 100%;
    left: 50%;
    object-fit: cover;
    position: absolute;
    top: 0;
    transform: translateX(-50%);
    width: 100%;
    z-index: -1;
  }
}

.redesign-v2 .pretitle {
  font: normal var(--accent-2-font-size)/1.2 var(--ff-accents);
}

/* CLS OPTIMIZATION */
.v2-hero {
  height: calc(100vh - var(--nav-height));
}

.screenreader {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.redesign-v2 .section.recalls-padding {
  --text-block-max-width: 506px;

  padding-top: 60px;
}

.redesign-v2 .recalls-padding .default-content-wrapper {
  max-width: var(--text-block-max-width, calc(100vw - 16px));
  text-align: center;
}

@media (min-width: 744px) {
  .redesign-v2 .section.recalls-padding {
    --text-block-max-width: 506px;
  }
}

@media (min-width: 1200px) {
  .redesign-v2 .section.recalls-padding {
    --text-block-max-width: 694px;
  }
}