:root {
  --c-black: #000;
  --c-grey: #ccc;
  --c-grey2: #999;
  --c-gold: #87754e;
  --c-white: #fff;
  --tab-border: var(--c-grey);
  --btn-background: var(--c-gold);
  --btn-color: var(--c-white);
  --btn-color-hover: var(--c-grey2);
  --line-separator: 6px solid var(--c-black);
}

main .explore-wrapper {
  margin-block: 9rem 2rem;
}

.block.explore {
  border: 1px solid var(--tab-border);
  margin: 10px 8px 30px;
}

.block.explore h2 {
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  height: auto;
  width: 100%;
  text-align: center;
}

.block.explore h2 a {
  color: var(--text-color);
}

.block.explore h2 a:hover {
  text-decoration: none;
  color: var(--btn-color-hover);
}

.block.explore h2 a strong {
  display: inline-block;
  transform: translateY(-13%);
}

/* title */
.block.explore .tab-title {
  font-size: 14px;
  text-align: center;
  margin: 0;
  padding: 12px 10px 11px;
  line-height: 22px;
  cursor: pointer;
  position: relative;
}

.block.explore .active.tab-title::after {
  content: "";
  position: absolute;
  bottom: -9px;
  left: 50%;
  margin-left: -7px;
  width: 13px;
  height: 9px;
  background: url("../../media/sprite.webp") -300px 0 no-repeat;
}

.block.explore .active.tab-title {
  background-color: black;
  color: white;
}

.block.explore .tab-title:not(:last-of-type) {
  border-block-end: 1px solid var(--tab-border);
}

/* content */
.block.explore .tab-content {
  height: 0;
  overflow: hidden;
  transition: height 500ms;
}

.block.explore .active + .tab-content {
  display: flex;
  flex-direction: column;
  height: auto;
}

.block.explore .active:not(:last-of-type) + .tab-content {
  border-block-end: 1px solid var(--tab-border);
}

.block.explore .tab-content .tab-image {
  padding: 12px 10px 11px;
  margin-inline: 1em;
}

.block.explore .tab-content :is(.tab-image, .slide) img {
  width: 100%;
}

/* content slider */
.block.explore .slider-wrapper {
  overflow: hidden;
}

.block.explore .slides-container {
  display: flex;
  transition: translate 750ms;
}

.block.explore .slide {
  flex: 0 0 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.block.explore .slide p {
  width: 54%;
  margin: 0 auto;
  padding: 12px 10px 11px;
}

.block.explore .content-wrapper {
  position: relative;
}

/* controls */
.block.explore .active + .tab-content .slide-control {
  position: absolute;
  top: 41.5%;
  width: 41px;
  height: 35px;
  display: block;
  text-indent: -9999px;
  background: url("../../media/sprite-mobile.webp") no-repeat;
}

.block.explore .active + .tab-content .btn-previous.disabled {
  background-position: -100px -100px;
}

.block.explore .active + .tab-content .btn-next.disabled {
  background-position: -150px -100px;
}

.block.explore .active + .tab-content .btn-previous,
.block.explore .active + .tab-content .slide-control.btn-previous:hover {
  background-position: 0 -100px;
  left: 0;
}

.block.explore .active + .tab-content .btn-next,
.block.explore .active + .tab-content .slide-control.btn-next:hover {
  background-position: -50px -100px;
  right: 0;
}

.block.explore .pagination {
  padding-block-end: 14px;
  height: 14px;
}

.block.explore .pagination ul {
  list-style: none;
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.block.explore .pagination ul a {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  text-indent: -9999px;
  overflow: hidden;
  background: #ccc;
  padding: 0;
}

.block.explore .pagination ul a.active {
  background-color: #a09560;
}

/* description */
.block.explore .description {
  font-size: 14px;
  margin-inline: 11px;
}

.block.explore .description p:first-child {
  padding-block-start: 1em;
  border-block-start: var(--line-separator);
  margin: 0;
}

.block.explore .description h2 {
  border-block-end: var(--line-separator);
  margin-block-start: 1rem;
}

.block.explore .description .cta {
  text-align: center;
}

.block.explore .description .cta a {
  background-color: var(--btn-background);
  color: var(--btn-color);
  width: 124px;
  padding: 0;
}

.block.explore .description .cta a:hover {
  color: var(--btn-color-hover);
}

.tab-titles-desktop {
  display: none;
}

@media (min-width: 768px) {
  .block.explore {
    max-width: 960px;
    margin: 0 auto;
    border: initial;
  }

  .block.explore .tab-container {
    display: flex;
    flex-wrap: wrap;
    margin-block-end: 1rem;
  }

  .block.explore .tab-content {
    order: 5;
    flex: 0 0 100%;
  }

  .block.explore .tab-content .tab-image {
    margin: 0;
    padding: 1rem 0 0;
  }

  .block.explore .tab-title.active + .tab-content {
    border: unset;
  }

  .block.explore .tab-title {
    flex: 1 0 auto;
    border-style: solid;
    border-color: var(--tab-border);
    padding: 14px 12px 13px;
  }

  .block.explore .tab-title:not(:last-of-type) {
    border-width: 1px 0 1px 1px;
  }

  .block.explore .tab-title:last-of-type {
    border-width: 1px;
  }

  .block.explore .slide {
    flex: unset;
  }

  .block.explore .slide p {
    width: auto;
  }

  .block.explore .slide img:hover {
    border: 1px solid var(--btn-color-hover);
    margin: -1px;
  }

  .block.explore h2 {
    text-transform: initial;
    font-size: 20px;
  }

  .block.explore .slide-controls {
    display: none;
  }

  .block.explore .description .cta {
    text-align: initial;
    margin: 7px 0;
  }

  .block.explore .description .cta a {
    background-color: unset;
    color: var(--text-color);
    width: initial;
    margin: 0;
    border: unset;
  }
}

@media (min-width: 900px) {
  .block.explore h2 {
    font-size: 26px;
  }
}
